Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  skip:
    # This steps run in the ci workflow. Keep in sync
    - mypy
    - pylint
    - verifyNoGetLogger

default_language_version:
  python: python3.13

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --unsafe-fixes
      - id: ruff-format
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args:
          - --py312-plus
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=deebot
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
          - --exclude-file=deebot_client/util/continents.py
        exclude_types:
          - csv
          - json
        exclude: ^uv.lock$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: [--branch, main, --branch, dev]
      - id: requirements-txt-fixer
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.2.4
          - prettier-plugin-sort-json@3.1.0
        exclude_types:
          - python
        exclude: ^uv.lock$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: Check with mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types:
          - python
        require_serial: true
      - id: pylint
        name: Check with pylint
        entry: scripts/run-in-env.sh pylint
        language: script
        types:
          - python
        require_serial: true
        exclude: ^tests/.+
      - id: verifyNoGetLogger
        name: Verify no getLogger usages
        entry: scripts/check_getLogger.sh
        language: script
        require_serial: true

Fix all python version code
  .github/workflows/ci.yml
Due: none

enable p2p for xml commands
  deebot_client/commands/__init__.py
Due: mypy, pylint

Fix windows version setting
  .github/workflows/ci.yml
Due: none

test only
  .github/workflows/ci.yml
Due: none

Remove test code
  .github/workflows/ci.yml
Due: none

Fix windows version setting (#790)
  .github/workflows/ci.yml
Due: none

Fix rust clippy findings
  src/lib.rs
  src/map.rs
  src/util.rs
Due: none

Add devices by similarity
  deebot_client/hardware/deebot/8tyt2y.py
  deebot_client/hardware/deebot/9gqyaq.py
  deebot_client/hardware/deebot/kr9c86.py
  deebot_client/hardware/deebot/rvo6ev.py
  deebot_client/hardware/deebot/wlqdkp.py
Due: mypy, pylint

Fix rust clippy findings (#791)
  src/lib.rs
  src/map.rs
  src/util.rs
Due: none

Add devices by similarity (#792)
  deebot_client/hardware/deebot/8tyt2y.py
  deebot_client/hardware/deebot/9gqyaq.py
  deebot_client/hardware/deebot/kr9c86.py
  deebot_client/hardware/deebot/rvo6ev.py
  deebot_client/hardware/deebot/wlqdkp.py
Due: mypy, pylint

Allow manual triggering CI
  .github/workflows/ci.yml
Due: none

Disable sscache
  .github/workflows/ci.yml
Due: none

Allow manual triggering CI (#793)
  .github/workflows/ci.yml
Due: none

T9 Power,Create symbolic link dqcneu.py -> x5d34r.py
  deebot_client/hardware/deebot/dqcneu.py
Due: mypy, pylint

Migrate some python unit test to rust
  .devcontainer.json
  Cargo.lock
  Cargo.toml
  scripts/setup.sh
  src/map.rs
  tests/test_map.py
Due: mypy

Add support for T9 Power
  deebot_client/hardware/deebot/dqcneu.py
Due: mypy, pylint

Sort attributes
  tests/test_map.py
Due: mypy

Migrated map positions tests
  src/map.rs
  tests/test_map.py
Due: mypy

Move more map test to rust
  src/map.rs
  tests/test_map.py
Due: mypy

Move svg generation to rust (#777)
  .devcontainer.json
  Cargo.lock
  Cargo.toml
  deebot_client/map.py
  deebot_client/rs/map.pyi
  pyproject.toml
  scripts/setup.sh
  src/lib.rs
  src/map.rs
  tests/test_map.py
  uv.lock
Due: mypy, pylint

Add rust pre-commit checks
  .pre-commit-config.yaml
Due: none

fix
  .pre-commit-config.yaml
Due: none

test
  .pre-commit-config.yaml
Due: none

add types
  .pre-commit-config.yaml
Due: none

use local ones and fix findings
  .pre-commit-config.yaml
  src/map.rs
Due: none

Add ci job and local pre-commit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

Disable sscache (#797)
  .github/workflows/ci.yml
Due: none

Add rust pre-commit checks (#796)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  src/map.rs
Due: none

Run cargo tests in CI
  .github/workflows/ci.yml
Due: none

fix
  .github/workflows/ci.yml
Due: none

next try
  .github/workflows/ci.yml
Due: none

Next try
  .github/workflows/ci.yml
Due: none

Don't upload coverage for all platforms
  .github/workflows/ci.yml
  ci/entrypoint.sh
  pyproject.toml
Due: none

Rename
  .github/workflows/ci.yml
Due: none

Run code quality jobs conditional
  .github/workflows/ci.yml
Due: none

better condition
  .github/workflows/ci.yml
Due: none

Fix
  .github/workflows/ci.yml
Due: none
