Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  skip:
    # This steps run in the ci workflow. Keep in sync
    - mypy
    - pylint
    - verifyNoGetLogger

default_language_version:
  python: python3.13

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --unsafe-fixes
      - id: ruff-format
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args:
          - --py312-plus
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=deebot
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
          - --exclude-file=deebot_client/util/continents.py
        exclude_types:
          - csv
          - json
        exclude: ^uv.lock$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: [--branch, main, --branch, dev]
      - id: requirements-txt-fixer
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.2.4
          - prettier-plugin-sort-json@3.1.0
        exclude_types:
          - python
        exclude: ^uv.lock$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: Check with mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types:
          - python
        require_serial: true
      - id: pylint
        name: Check with pylint
        entry: scripts/run-in-env.sh pylint
        language: script
        types:
          - python
        require_serial: true
        exclude: ^tests/.+
      - id: verifyNoGetLogger
        name: Verify no getLogger usages
        entry: scripts/check_getLogger.sh
        language: script
        require_serial: true

add support for T8 Power
  deebot_client/hardware/deebot/no61kx.py
Due: mypy, pylint

Fix symbolic link
  deebot_client/hardware/deebot/no61kx.py
Due: mypy, pylint

Add support to decompress zstd
  Cargo.lock
  Cargo.toml
  deebot_client/commands/json/map.py
  deebot_client/map.py
  deebot_client/rs/util.pyi
  src/map.rs
  src/util.rs
  tests/rs/test_util.py
Due: mypy, pylint

FanSpeed: extend for XML enum
  deebot_client/commands/xml/fan_speed.py
  deebot_client/events/fan_speed.py
  tests/commands/xml/test_fan_speed.py
Due: mypy, pylint

Add XML charge command
  deebot_client/commands/xml/__init__.py
  deebot_client/commands/xml/charge.py
  tests/commands/xml/test_charge.py
Due: mypy, pylint

Add XML command "CleanArea"
  deebot_client/commands/xml/clean.py
  deebot_client/models.py
  tests/commands/xml/test_clean.py
Due: mypy, pylint

Create StrEnumWithXml to avoid duplicated code
  deebot_client/models.py
  deebot_client/util/enum.py
Due: mypy, pylint

Refactor MajorMapEvent
  deebot_client/commands/json/map.py
  deebot_client/events/map.py
  deebot_client/map.py
  pyproject.toml
Due: mypy, pylint

Add tests for StrEnumWithXml
  tests/util/test_enum.py
Due: mypy

XML command SetCleanSpeed: accept speed as string
  deebot_client/commands/xml/fan_speed.py
Due: mypy, pylint

Prepare mqtt p2p for different data types
  deebot_client/command.py
  deebot_client/commands/json/common.py
  deebot_client/commands/json/life_span.py
  deebot_client/message.py
  deebot_client/mqtt_client.py
  tests/commands/json/__init__.py
  tests/commands/json/test_life_span.py
  tests/test_command.py
  tests/test_mqtt_client.py
Due: mypy, pylint

Add pytest-github-actions-annotate-failures
  pyproject.toml
  uv.lock
Due: none

fix tests
  tests/commands/json/test_map.py
  tests/test_map.py
Due: mypy

Revert change
  deebot_client/map.py
Due: mypy, pylint

fix: add deebot-10 support
  deebot_client/hardware/deebot/yaj7uz.py
Due: mypy, pylint

WIP: MqttP2P
  deebot_client/command.py
  deebot_client/commands/xml/common.py
Due: mypy, pylint

Rust release optimizations
  Cargo.toml
Due: none

activate verbose
  .github/workflows/ci.yml
Due: none

Deebot T10 jtmf04 wrong capability
  deebot_client/hardware/deebot/jtmf04.py
Due: mypy, pylint

Fix symbolic link
  deebot_client/hardware/deebot/jtmf04.py
Due: mypy, pylint

Fix clippy warning
  src/map.rs
Due: none

Update liblzma to 0.3.6
  Cargo.toml
Due: none

Bump zstd to 0.13.3
  Cargo.toml
Due: none

Bump log to 0.4.26
  Cargo.toml
Due: none

Simplify positions
  deebot_client/map.py
  tests/test_map.py
Due: mypy, pylint

Move png map genration to rust
  Cargo.lock
  Cargo.toml
  deebot_client/map.py
  deebot_client/rs/map.pyi
  deebot_client/util/__init__.py
  src/map.rs
  tests/test_map.py
Due: mypy, pylint

Iterate only once over the image
  src/map.rs
Due: none

Fix bounding box calculation
  src/map.rs
Due: none

Improve image creation
  src/map.rs
  tests/test_map.py
Due: mypy

Add ViewBox
  src/map.rs
Due: none

Use u16 for map coordinates
  src/map.rs
Due: none

Fix y calculation
  src/map.rs
Due: none

Ignore map test for now
  tests/test_map.py
Due: mypy

Create palette png
  Cargo.lock
  Cargo.toml
  src/map.rs
Due: none

Update test
  tests/test_map.py
Due: mypy

Rust creates the same png on every arch
  tests/test_map.py
Due: mypy

Add missing tests
  deebot_client/map.py
  deebot_client/rs/map.pyi
  tests/test_map.py
Due: mypy, pylint

Add last missing test
  src/map.rs
Due: none

update also toml file
  Cargo.toml
Due: none

Remove unused dependencies
  pyproject.toml
  uv.lock
Due: none
