Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  skip:
    # This steps run in the ci workflow. Keep in sync
    - mypy
    - pylint
    - verifyNoGetLogger

default_language_version:
  python: python3.13

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --unsafe-fixes
      - id: ruff-format
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args:
          - --py312-plus
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=deebot
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
          - --exclude-file=deebot_client/util/continents.py
        exclude_types:
          - csv
          - json
        exclude: ^uv.lock$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: [--branch, main, --branch, dev]
      - id: requirements-txt-fixer
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.2.4
          - prettier-plugin-sort-json@3.1.0
        exclude_types:
          - python
        exclude: ^uv.lock$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: Check with mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types:
          - python
        require_serial: true
      - id: pylint
        name: Check with pylint
        entry: scripts/run-in-env.sh pylint
        language: script
        types:
          - python
        require_serial: true
        exclude: ^tests/.+
      - id: verifyNoGetLogger
        name: Verify no getLogger usages
        entry: scripts/check_getLogger.sh
        language: script
        require_serial: true

Add async test for GetNetInfo with trailing dot
  tests/commands/json/test_network.py
Due: mypy

Update Deebot T30C capabilities and state retrieval
  deebot_client/hardware/viq3mw.py
Due: mypy, pylint

Remove unnecessary blank line in test_network.py
  tests/commands/json/test_network.py
Due: mypy

Fix prek findings
  tests/commands/json/test_network.py
Due: mypy

Use prek builtins and don't install project in devcontainer
  .coveragerc
  .devcontainer.json
  .gitignore
  .pre-commit-config.yaml
  .python-version
  ci/Dockerfile.alpine
  ci/entrypoint.sh
  mypy.ini
  pytest.ini
  scripts/check_getLogger.sh
  scripts/setup.sh
Due: none

Use oidc
  .github/workflows/ci.yml
Due: none

Refactor imports in viq3mw.py
  deebot_client/hardware/viq3mw.py
Due: mypy, pylint

Remove unused import for GetWorkState
  deebot_client/hardware/viq3mw.py
Due: mypy, pylint

Deleted whitespace
  deebot_client/hardware/viq3mw.py
Due: mypy, pylint

README: Fix depracation warning in example code
  README.md
Due: none

README: Fix missing import of "Charge" command
  README.md
Due: none

command: add improved callstack if command throws an exception
  deebot_client/command.py
Due: mypy, pylint

Add devices by similarity
  deebot_client/hardware/2kuxj0.py
  deebot_client/hardware/dzuvdj.py
  deebot_client/hardware/nxeux7.py
  deebot_client/hardware/qg1d6t.py
  deebot_client/hardware/xw7zp9.py
Due: mypy, pylint

update
  .pre-commit-config.yaml
Due: none

Add huhcip.py to hardware directory
  deebot_client/hardware/huhcip.py
Due: mypy, pylint

Fix symbolic link
  deebot_client/hardware/huhcip.py
Due: mypy, pylint

Replace deprecated test-results-action action with codecov-action
  .github/workflows/ci.yml
Due: none

fix: Add explicit language to prettier hook for Renovate
  .pre-commit-config.yaml
Due: none

Require aiomqtt>=2.5.0 to avoid blocking call in async
  pyproject.toml
  uv.lock
Due: none

Require aiohttp>=3.13.3
  pyproject.toml
  uv.lock
Due: none

Fix typing
  deebot_client/mqtt_client.py
Due: mypy, pylint

Fix
  deebot_client/mqtt_client.py
  tests/fixtures/base.py
Due: mypy, pylint

Add support for DEEBOT NEO 3.0 OMNI (zg6qbz)
  deebot_client/hardware/zg6qbz.py
Due: mypy, pylint

add t80 class w7y3cb
  deebot_client/hardware/w7y3cb.py
Due: mypy, pylint

Fix import order for GetWorkState
  deebot_client/hardware/zg6qbz.py
Due: mypy, pylint

Require Python 3.14
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .python-version
  mypy.ini
  pyproject.toml
  uv.lock
Due: none

Add symlink for eom321 (X8 Pro AI Plus)
  deebot_client/hardware/eom321.py
Due: mypy, pylint

Add map id to RoomsEvent
  deebot_client/commands/json/map/__init__.py
  deebot_client/commands/xml/map.py
  deebot_client/events/__init__.py
  deebot_client/events/map.py
  deebot_client/map.py
  tests/commands/json/map/test_init.py
  tests/commands/xml/test_map.py
  tests/data/map/test_1.py
  tests/data/map/test_2.py
  tests/data/map/test_4.py
Due: mypy, pylint

fix
  deebot_client/events/map.py
  deebot_client/logging_filter.py
Due: mypy, pylint

Fix
  pyproject.toml
  uv.lock
Due: none

update snapshots
  tests/__snapshots__/test_map.ambr
Due: none

Fix
  src/map/mod.rs
Due: none

Change are param of CleanArea to list of int or float
  deebot_client/capabilities.py
  deebot_client/commands/json/clean.py
  deebot_client/commands/xml/clean.py
  tests/commands/json/test_clean.py
  tests/commands/xml/test_clean.py
Due: mypy, pylint

Fix room detection for robots with 11+ field subsets
  deebot_client/commands/json/map/__init__.py
  tests/commands/json/map/test_init.py
Due: mypy, pylint

Add freeClean support for newer robots (X11 OmniCyclone, X9 PRO OMNI)
  deebot_client/commands/json/__init__.py
  deebot_client/commands/json/clean.py
  deebot_client/hardware/ilt3k8.py
  deebot_client/models.py
  tests/commands/json/test_clean.py
Due: mypy, pylint

Revert ilt3k8.py change, X11 needs its own hardware config
  deebot_client/hardware/ilt3k8.py
Due: mypy, pylint

Support o073ti and MapSet_V2 room subsets with extra fields
  deebot_client/commands/json/map/__init__.py
  deebot_client/hardware/o073ti.py
Due: mypy, pylint

Add tests for o073ti loading and MapSet_V2 extra room fields
  tests/commands/json/map/test_init.py
  tests/hardware/test_init.py
Due: mypy

Remove redundant o073ti hardware loading test
  tests/hardware/test_init.py
Due: mypy
