Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  skip:
    # This steps run in the ci workflow. Keep in sync
    - mypy
    - pylint
    - verifyNoGetLogger

default_language_version:
  python: python3.13

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --unsafe-fixes
      - id: ruff-format
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args:
          - --py312-plus
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=deebot
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
          - --exclude-file=deebot_client/util/continents.py
        exclude_types:
          - csv
          - json
        exclude: ^uv.lock$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: [--branch, main, --branch, dev]
      - id: requirements-txt-fixer
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.2.4
          - prettier-plugin-sort-json@3.1.0
        exclude_types:
          - python
        exclude: ^uv.lock$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: Check with mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types:
          - python
        require_serial: true
      - id: pylint
        name: Check with pylint
        entry: scripts/run-in-env.sh pylint
        language: script
        types:
          - python
        require_serial: true
        exclude: ^tests/.+
      - id: verifyNoGetLogger
        name: Verify no getLogger usages
        entry: scripts/check_getLogger.sh
        language: script
        require_serial: true

Fix decompress_7z_base64_data (#765)
  deebot_client/commands/json/map.py
  deebot_client/map.py
  deebot_client/rs.pyi
  src/lib.rs
  tests/test_map.py
  tests/test_rs.py
Due: mypy, pylint

Add codspeed
  .github/workflows/ci.yml
  .gitignore
  pyproject.toml
  tests/test_rs.py
  uv.lock
Due: mypy

fix
  .github/workflows/ci.yml
Due: none

Fix II
  .github/workflows/ci.yml
Due: none

Create separate job for benchmarks
  .github/workflows/ci.yml
Due: none

Improve benchmark job
  .github/workflows/ci.yml
Due: none

Use correct file
  .github/workflows/ci.yml
Due: none

Next try
  .github/workflows/ci.yml
Due: none

Add codspeed and first benchmark test (#766)
  .github/workflows/ci.yml
  .gitignore
  pyproject.toml
  tests/test_rs.py
  uv.lock
Due: mypy

Use dependencies groups
  .devcontainer.json
  .github/workflows/ci.yml
  pyproject.toml
  scripts/setup.sh
  uv.lock
Due: none

Use dependencies groups (#767)
  .devcontainer.json
  .github/workflows/ci.yml
  pyproject.toml
  scripts/setup.sh
  uv.lock
Due: none

Add test for the svg map
  deebot_client/map.py
  tests/test_map.py
Due: mypy, pylint

Fix test
  tests/test_map.py
Due: mypy

Add benchmark
  tests/test_map.py
Due: mypy

Fix
  tests/test_map.py
Due: mypy

Improve test
  tests/test_map.py
Due: mypy

Only for testing
  .github/workflows/ci.yml
  tests/test_rs.py
Due: mypy

Add test for svg map (#768)
  deebot_client/map.py
  tests/test_map.py
Due: mypy, pylint

Use real life map for better performance testing
  tests/test_map.py
Due: mypy

Use real life map for better performance testing (#772)
  tests/test_map.py
Due: mypy

Goodbye Python 3.12
  .github/workflows/ci.yml
  .github/workflows/python-publish.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

Add tests for json play_sound command
  tests/commands/json/test_play_sound.py
Due: mypy

Move extracting of trace points to rust
  Cargo.lock
  Cargo.toml
  deebot_client/map.py
  deebot_client/rs.pyi
  src/lib.rs
Due: mypy, pylint

Fix test and remove useless function
  deebot_client/map.py
  tests/test_map.py
Due: mypy, pylint

Improve error handling
  src/lib.rs
Due: none

Enable backtrace in CI
  .github/workflows/ci.yml
Due: none

XML SetCleanSpeed: Adjust NAME attribute
  deebot_client/commands/xml/fan_speed.py
Due: mypy, pylint

Move extracting of trace points to rust (#775)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  deebot_client/map.py
  deebot_client/rs.pyi
  src/lib.rs
  tests/test_map.py
Due: mypy, pylint

Improve tests for XML clean_speed commands
  tests/commands/xml/test_fan_speed.py
Due: mypy

Refactor rust code to submodules
  deebot_client/commands/json/map.py
  deebot_client/map.py
  deebot_client/rs/map.pyi
  deebot_client/rs/util.pyi
  pyproject.toml
  src/lib.rs
  src/map.rs
  src/util.rs
  tests/rs/__init__.py
  tests/rs/test_util.py
  tests/test_map.py
Due: mypy, pylint

Refactor rust code to submodules (#776)
  deebot_client/commands/json/map.py
  deebot_client/map.py
  deebot_client/rs/map.pyi
  deebot_client/rs/util.pyi
  pyproject.toml
  src/lib.rs
  src/map.rs
  src/util.rs
  tests/rs/__init__.py
  tests/rs/test_util.py
  tests/test_map.py
Due: mypy, pylint

Move svg generation to rust
  Cargo.lock
  Cargo.toml
  deebot_client/map.py
  deebot_client/rs/map.pyi
  src/lib.rs
  src/map.rs
  tests/test_map.py
Due: mypy, pylint

xml clean_speed: add XmlGetCommand
  deebot_client/commands/xml/common.py
  deebot_client/commands/xml/fan_speed.py
Due: mypy, pylint

Generate compact svg
  src/map.rs
  tests/test_map.py
Due: mypy

Remove unused code
  deebot_client/map.py
  pyproject.toml
  tests/test_map.py
  uv.lock
Due: mypy, pylint

clippy
  src/map.rs
Due: none

Improve map rust code
  src/map.rs
Due: none

Implement handle_set_args of XmlGetCommand in every command
  deebot_client/commands/xml/common.py
  deebot_client/commands/xml/fan_speed.py
Due: mypy, pylint

Use pure rust lzma cargo
  Cargo.lock
  Cargo.toml
  src/util.rs
Due: none

Try other crate
  Cargo.lock
  Cargo.toml
  scripts/setup.sh
  src/util.rs
Due: none
