Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: Check with mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: Check with pylint
  entry: scripts/run-in-env.sh pylint
  language: script
  require_serial: true

Swapped around VacuumState IDLE and returning
  deebot_client/commands/clean.py
  tests/commands/test_clean.py
Due: mypy, pylint

Remove unused import
  deebot_client/commands/error.py
Due: mypy, pylint

Added _handle_body_data_xml to Volume
  deebot_client/commands/volume.py
Due: mypy, pylint

Set XML name for GetPos command
  deebot_client/commands/pos.py
Due: mypy, pylint

Added tests for charge_state for XML devices
  tests/commands/test_charge_state.py
Due: mypy

Implemented separate commands for getting the LifeSpan for XML based consumables
  deebot_client/commands/life_span.py
  deebot_client/events/const.py
  tests/commands/test_life_span.py
Due: mypy, pylint

Added xml_name for the currently unimplemented commands
  deebot_client/commands/common.py
  deebot_client/commands/map.py
  deebot_client/commands/multimap_state.py
  deebot_client/commands/pos.py
  deebot_client/commands/stats.py
  deebot_client/commands/true_detect.py
  deebot_client/commands/water_info.py
Due: mypy, pylint

Clean up
  deebot_client/events/__init__.py
Due: mypy, pylint

Added unimplemented version of the GetReportStats for the XML api
  deebot_client/messages/stats.py
Due: mypy, pylint

Fixed issue that in some cases XML messages where parsed to the JSON handler
  deebot_client/command.py
  deebot_client/message.py
Due: mypy, pylint

Fixed typo in payloadType
  tests/helpers.py
Due: mypy

fixed typo
  deebot_client/commands/multimap_state.py
Due: mypy, pylint

Satisfied mypy a bit more
  deebot_client/command.py
  deebot_client/commands/charge.py
  deebot_client/commands/clean.py
  deebot_client/commands/clean_count.py
  deebot_client/commands/common.py
  deebot_client/commands/continuous_cleaning.py
  deebot_client/commands/life_span.py
  deebot_client/commands/map.py
  deebot_client/commands/play_sound.py
  deebot_client/commands/pos.py
  deebot_client/commands/relocation.py
  deebot_client/commands/stats.py
  deebot_client/commands/volume.py
  deebot_client/commands/water_info.py
  deebot_client/message.py
  deebot_client/messages/stats.py
Due: mypy, pylint

Added docs
  deebot_client/commands/life_span.py
Due: mypy, pylint

Fixed missing import and added a comment
  deebot_client/command.py
  deebot_client/commands/pos.py
Due: mypy, pylint

Satified mypy a bit more
  deebot_client/command.py
Due: mypy, pylint

split messages
  deebot_client/const.py
  deebot_client/message.py
  deebot_client/messages/__init__.py
  deebot_client/messages/json/__init__.py
  deebot_client/messages/json/battery.py
  deebot_client/messages/json/stats.py
  deebot_client/messages/xml/__init__.py
  deebot_client/messages/xml/battery.py
  deebot_client/messages/xml/common.py
  requirements.txt
  tests/messages/test_get_messages.py
Due: mypy, pylint

adjust message tests
  tests/messages/json/test_battery.py
  tests/messages/json/test_stats.py
  tests/messages/test_messages.py
  tests/messages/xml/test_battery.py
Due: mypy

improve tests
  deebot_client/mqtt_client.py
  tests/messages/json/test_get_messages.py
  tests/messages/test_get_messages.py
  tests/test_mqtt_client.py
Due: mypy, pylint

Run Ci on each branch
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
Due: none

Fix PR CI (#293)
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
Due: none

Remove NoArgsCommand
  deebot_client/commands/json/battery.py
  deebot_client/commands/json/charge_state.py
  deebot_client/commands/json/clean.py
  deebot_client/commands/json/clean_count.py
  deebot_client/commands/json/common.py
  deebot_client/commands/json/error.py
  deebot_client/commands/json/fan_speed.py
  deebot_client/commands/json/stats.py
  deebot_client/commands/json/volume.py
  deebot_client/commands/json/water_info.py
Due: mypy, pylint

Remove NoArgsCommand (#294)
  deebot_client/commands/json/battery.py
  deebot_client/commands/json/charge_state.py
  deebot_client/commands/json/clean.py
  deebot_client/commands/json/clean_count.py
  deebot_client/commands/json/common.py
  deebot_client/commands/json/error.py
  deebot_client/commands/json/fan_speed.py
  deebot_client/commands/json/stats.py
  deebot_client/commands/json/volume.py
  deebot_client/commands/json/water_info.py
Due: mypy, pylint

run init script on each startup
  .devcontainer.json
Due: none

fix rooms without enabled map
  deebot_client/map.py
  requirements-test.txt
  tests/conftest.py
  tests/test_map.py
Due: mypy, pylint

Run init script on each startup (#302)
  .devcontainer.json
Due: none

Don't commit to main and dev
  .pre-commit-config.yaml
Due: none

Fix rooms without enabled map (#303)
  deebot_client/map.py
  requirements-test.txt
  tests/conftest.py
  tests/test_map.py
Due: mypy, pylint

add gitlens extension
  .devcontainer.json
Due: none

Don't commit to main and dev (#304)
  .pre-commit-config.yaml
Due: none

add gitlens extension (#305)
  .devcontainer.json
Due: none

Add device capabilities
  deebot_client/hardware/__init__.py
  deebot_client/hardware/deebot.py
  deebot_client/hardware/device_capabilities.py
Due: mypy, pylint

Use device capabilities
  deebot_client/events/const.py
  deebot_client/events/event_bus.py
  deebot_client/vacuum_bot.py
  tests/conftest.py
  tests/events/test_event_bus.py
  tests/events/test_events.py
  tests/helpers.py
  tests/test_vacuum_bot.py
Due: mypy, pylint

Simplify
  deebot_client/hardware/device_capabilities.py
Due: mypy, pylint

Add device capabilities reference
  deebot_client/exceptions.py
  deebot_client/hardware/deebot.py
  deebot_client/hardware/device_capabilities.py
  tests/hardware/__init__.py
  tests/hardware/test_deebot.py
  tests/hardware/test_device_capabilities.py
Due: mypy, pylint

fix sorting
  deebot_client/hardware/deebot.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: ^tests/.+
