Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  skip:
    # This steps run in the ci workflow. Keep in sync
    - mypy
    - pylint
    - verifyNoGetLogger

default_language_version:
  python: python3.13

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --unsafe-fixes
      - id: ruff-format
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args:
          - --py312-plus
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=deebot
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
          - --exclude-file=deebot_client/util/continents.py
        exclude_types:
          - csv
          - json
        exclude: ^uv.lock$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: [--branch, main, --branch, dev]
      - id: requirements-txt-fixer
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.2.4
          - prettier-plugin-sort-json@3.1.0
        exclude_types:
          - python
        exclude: ^uv.lock$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: Check with mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types:
          - python
        require_serial: true
      - id: pylint
        name: Check with pylint
        entry: scripts/run-in-env.sh pylint
        language: script
        types:
          - python
        require_serial: true
        exclude: ^tests/.+
      - id: verifyNoGetLogger
        name: Verify no getLogger usages
        entry: scripts/check_getLogger.sh
        language: script
        require_serial: true

Move requested_commands to HandlingResult
  deebot_client/command.py
  deebot_client/commands/json/clean.py
  deebot_client/commands/json/clean_logs.py
  deebot_client/commands/json/custom.py
  deebot_client/commands/json/map/__init__.py
  deebot_client/commands/json/map/cached_map_info.py
  deebot_client/commands/json/map/major_map.py
  deebot_client/commands/xml/clean_logs.py
  deebot_client/commands/xml/map.py
  deebot_client/message.py
  tests/commands/__init__.py
  tests/commands/json/__init__.py
  tests/commands/json/map/test_cached_map_info.py
  tests/commands/json/map/test_init.py
  tests/commands/json/map/test_major_map.py
  tests/commands/json/test_charge.py
  tests/commands/json/test_clean_log.py
  tests/commands/json/test_custom.py
  tests/commands/json/test_work_state.py
  tests/commands/xml/__init__.py
  tests/commands/xml/test_battery.py
  tests/commands/xml/test_charge.py
  tests/commands/xml/test_charge_state.py
  tests/commands/xml/test_clean.py
  tests/commands/xml/test_clean_logs.py
  tests/commands/xml/test_clean_speed.py
  tests/commands/xml/test_common.py
  tests/commands/xml/test_life_span.py
  tests/commands/xml/test_map.py
  tests/commands/xml/test_play_sound.py
  tests/commands/xml/test_pos.py
  tests/commands/xml/test_stats.py
  tests/test_command.py
Due: mypy, pylint

Request getMapSet command on onMapSet_V2
  deebot_client/messages/json/map/__init__.py
  tests/messages/__init__.py
  tests/messages/json/__init__.py
  tests/messages/json/map/test_cached_map_info.py
  tests/messages/json/map/test_init.py
  tests/messages/json/test_auto_empty.py
  tests/messages/json/test_battery.py
  tests/messages/json/test_station_state.py
  tests/messages/json/test_stats.py
  tests/messages/json/test_work_state.py
  tests/messages/xml/__init__.py
  tests/messages/xml/test_battery.py
  tests/messages/xml/test_charge_state.py
  tests/messages/xml/test_clean.py
  tests/messages/xml/test_common.py
  tests/messages/xml/test_map.py
  tests/messages/xml/test_pos.py
Due: mypy, pylint

Simplify
  deebot_client/messages/json/map/__init__.py
Due: mypy, pylint

Update Cargo.lock
  Cargo.lock
Due: none

Use orjson
  deebot_client/commands/json/common.py
  deebot_client/commands/json/map/__init__.py
  deebot_client/message.py
  pyproject.toml
  scripts/check_for_similar_models.py
  tests/commands/json/__init__.py
  tests/mqtt_util.py
  tests/test_command.py
  tests/test_device.py
  tests/test_mqtt_client.py
  uv.lock
Due: mypy, pylint

Update serde dependency
  Cargo.lock
Due: none

Rebrand project
  .github/workflows/ci.yml
  README.md
  pyproject.toml
Due: none

CR comments
  src/map.rs
  tests/commands/json/map/test_cached_map_info.py
  tests/commands/json/map/test_init.py
Due: mypy

Revert removal of Major/MinorMapEvent
  deebot_client/capabilities.py
  deebot_client/hardware/9eamof.py
  deebot_client/hardware/ilt3k8.py
  deebot_client/hardware/n0vyif.py
  deebot_client/map.py
Due: mypy, pylint

feat: add support for GpsPositionEvent
  deebot_client/events/__init__.py
  deebot_client/events/map.py
  deebot_client/messages/json/__init__.py
  deebot_client/messages/json/gps_position.py
  tests/messages/json/test_gps_position.py
Due: mypy, pylint

Fix SVG path space for first point too
  src/map.rs
Due: none

add deebot t50 omni support
  deebot_client/hardware/nxeux7.py
Due: mypy, pylint

Apply suggestion from @lcnittl
  tests/commands/json/map/test_cached_map_info.py
Due: mypy

Split background image into own module
  .pre-commit-config.yaml
  deebot_client/map.py
  deebot_client/rs/map.pyi
  src/map/background_image.rs
  src/map/mod.rs
  tests/rs/test_map.py
Due: mypy, pylint

Split point functions into own module
  deebot_client/map.py
  deebot_client/rs/map.pyi
  src/map/common.rs
  src/map/mod.rs
  src/map/points.rs
  tests/rs/test_map.py
Due: mypy, pylint

fix
  deebot_client/rs/map.pyi
Due: none

Use time.time()
  deebot_client/commands/json/common.py
Due: mypy, pylint

Cache get_message
  deebot_client/messages/__init__.py
Due: mypy, pylint

Teardown MapRoomHandling
  deebot_client/map.py
Due: mypy, pylint

Set reasonable value for p2p workaround
  deebot_client/mqtt_client.py
Due: mypy, pylint

Improve log filter
  deebot_client/logging_filter.py
Due: mypy, pylint

Only load used hardware models
  deebot_client/hardware/2o4lnm.py
  deebot_client/hardware/2pv572.py
  deebot_client/hardware/300lc5.py
  deebot_client/hardware/4bdkrs.py
  deebot_client/hardware/5xu9h3.py
  deebot_client/hardware/7bryc5.py
  deebot_client/hardware/7j1tu6.py
  deebot_client/hardware/8kwdb4.py
  deebot_client/hardware/9eamof.py
  deebot_client/hardware/9s1s80.py
  deebot_client/hardware/__init__.py
  deebot_client/hardware/b2jqs4.py
  deebot_client/hardware/buom7k.py
  deebot_client/hardware/co3fyu.py
  deebot_client/hardware/e6ofmn.py
  deebot_client/hardware/ee23uv.py
  deebot_client/hardware/ilt3k8.py
  deebot_client/hardware/kr0277.py
  deebot_client/hardware/m1wkuw.py
  deebot_client/hardware/n0vyif.py
  deebot_client/hardware/p1jij8.py
  deebot_client/hardware/p7l7iu.py
  deebot_client/hardware/p95mgv.py
  deebot_client/hardware/qhe2o2.py
  deebot_client/hardware/r8ead0.py
  deebot_client/hardware/ts2ofl.py
  deebot_client/hardware/ue8kcc.py
  deebot_client/hardware/umwv6z.py
  deebot_client/hardware/x5d34r.py
  deebot_client/hardware/xco2fc.py
  deebot_client/hardware/xmp9ds.py
  deebot_client/hardware/yna5xi.py
  deebot_client/util/__init__.py
  tests/hardware/test_init.py
Due: mypy, pylint

Remove thread lock
  deebot_client/event_bus.py
Due: mypy, pylint

Improve tests
  tests/hardware/test_init.py
Due: mypy

Rename
  deebot_client/hardware/2o4lnm.py
  deebot_client/hardware/2pv572.py
  deebot_client/hardware/300lc5.py
  deebot_client/hardware/4bdkrs.py
  deebot_client/hardware/5xu9h3.py
  deebot_client/hardware/7bryc5.py
  deebot_client/hardware/7j1tu6.py
  deebot_client/hardware/8kwdb4.py
  deebot_client/hardware/9eamof.py
  deebot_client/hardware/9s1s80.py
  deebot_client/hardware/b2jqs4.py
  deebot_client/hardware/buom7k.py
  deebot_client/hardware/co3fyu.py
  deebot_client/hardware/e6ofmn.py
  deebot_client/hardware/ee23uv.py
  deebot_client/hardware/ilt3k8.py
  deebot_client/hardware/kr0277.py
  deebot_client/hardware/m1wkuw.py
  deebot_client/hardware/n0vyif.py
  deebot_client/hardware/p1jij8.py
  deebot_client/hardware/p7l7iu.py
  deebot_client/hardware/p95mgv.py
  deebot_client/hardware/qhe2o2.py
  deebot_client/hardware/r8ead0.py
  deebot_client/hardware/ts2ofl.py
  deebot_client/hardware/ue8kcc.py
  deebot_client/hardware/umwv6z.py
  deebot_client/hardware/x5d34r.py
  deebot_client/hardware/xco2fc.py
  deebot_client/hardware/xmp9ds.py
  deebot_client/hardware/yna5xi.py
Due: mypy, pylint

Execute requested message commands
  deebot_client/device.py
Due: mypy, pylint

Update deebot_client/device.py
  deebot_client/device.py
Due: mypy, pylint

Fix teardown
  deebot_client/device.py
Due: mypy, pylint

Contribution only
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/question.yml
  README.md
Due: none

styling
  README.md
Due: none

Update .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/feature.yml
Due: none

Update .github/ISSUE_TEMPLATE/question.yml
  .github/ISSUE_TEMPLATE/question.yml
Due: none

Update .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Add test
  deebot_client/command.py
  deebot_client/device.py
  tests/test_device.py
Due: mypy, pylint

Prioritize MapInfo over background image + verify mapInfo version
  deebot_client/commands/json/map/__init__.py
  src/map/mod.rs
  tests/commands/json/map/test_init.py
Due: mypy, pylint

Add new map for N20
  tests/data/map/test_4.py
Due: mypy

adjust to newest code base
  deebot_client/capabilities.py
  deebot_client/commands/json/mop_auto_wash_frequency.py
  deebot_client/events/mop_auto_wash_frequency.py
  deebot_client/hardware/p1jij8.py
  tests/commands/json/test_mop_auto_wash_frequency.py
Due: mypy, pylint

Apply suggestion from @edenhaus
  deebot_client/device.py
Due: mypy, pylint

fix
  deebot_client/capabilities.py
  deebot_client/events/__init__.py
  tests/commands/json/test_mop_auto_wash_frequency.py
Due: mypy, pylint
