Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  skip:
    # This steps run in the ci workflow. Keep in sync
    - mypy
    - pylint
    - verifyNoGetLogger

default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.8.0
    hooks:
      - id: pyupgrade
        args:
          - --py310-plus
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args:
          - --quiet
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,deebot
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types:
          - csv
          - json
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.6.0
          - pydocstyle==6.1.1
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=bandit.yaml
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
      - id: requirements-txt-fixer
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.7.1
          - prettier-plugin-sort-json@0.0.3
        exclude_types:
          - python
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.32.0
    hooks:
      - id: yamllint
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: Check with mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types:
          - python
        require_serial: true
      - id: pylint
        name: Check with pylint
        entry: scripts/run-in-env.sh pylint
        language: script
        types:
          - python
        require_serial: true
        exclude: ^tests/.+
      - id: verifyNoGetLogger
        name: Verify no getLogger usages
        entry: scripts/check_getLogger.sh
        language: script
        require_serial: true

add tests for device_capabilities
  tests/hardware/test_device_capabilities.py
Due: mypy

split hardware errors into own file
  deebot_client/exceptions.py
  deebot_client/hardware/device_capabilities.py
  deebot_client/hardware/exceptions.py
  tests/hardware/test_device_capabilities.py
Due: mypy, pylint

fix import
  deebot_client/hardware/exceptions.py
Due: mypy, pylint

test hardware init
  tests/hardware/test_init.py
Due: mypy

remove unused method
  deebot_client/hardware/device_capabilities.py
Due: mypy, pylint

better fix
  deebot_client/hardware/exceptions.py
Due: mypy, pylint

fix it again
  deebot_client/hardware/exceptions.py
Due: mypy, pylint

Add device capabilities (#307)
  deebot_client/events/const.py
  deebot_client/events/event_bus.py
  deebot_client/hardware/__init__.py
  deebot_client/hardware/deebot.py
  deebot_client/hardware/device_capabilities.py
  deebot_client/hardware/exceptions.py
  deebot_client/vacuum_bot.py
  tests/conftest.py
  tests/events/test_event_bus.py
  tests/events/test_events.py
  tests/hardware/__init__.py
  tests/hardware/test_deebot.py
  tests/hardware/test_device_capabilities.py
  tests/hardware/test_init.py
  tests/helpers.py
  tests/test_vacuum_bot.py
Due: mypy, pylint

typo
  scripts/check_getLogger.sh
Due: none

update prettier and plugins
  .pre-commit-config.yaml
  .prettierrc
  .prettierrc.js
Due: none

fix typos
  deebot_client/hardware/device_capabilities.py
Due: mypy, pylint

Update pillow to fix CVE Credits: @frenck
  requirements.txt
Due: none

Update pillow to fix CVE (#311)
  requirements.txt
Due: none

add DeviceCapabilities.capabilities
  deebot_client/commands/json/life_span.py
  deebot_client/hardware/__init__.py
  deebot_client/hardware/deebot.py
  deebot_client/hardware/device_capabilities.py
  deebot_client/util.py
  tests/commands/json/test_life_span.py
  tests/helpers.py
Due: mypy, pylint

fix pylint update
  deebot_client/map.py
  pylintrc
Due: mypy, pylint

A command mock is also callable; fix it
  deebot_client/hardware/device_capabilities.py
Due: mypy, pylint

add get_refresh_commands tests
  deebot_client/hardware/device_capabilities.py
  tests/hardware/test_device_capabilities.py
Due: mypy, pylint

refactor get_request_json helper
  tests/commands/json/__init__.py
  tests/commands/json/test_advanced_mode.py
  tests/commands/json/test_battery.py
  tests/commands/json/test_carpet.py
  tests/commands/json/test_charge.py
  tests/commands/json/test_charge_state.py
  tests/commands/json/test_clean.py
  tests/commands/json/test_clean_count.py
  tests/commands/json/test_clean_preference.py
  tests/commands/json/test_continuous_cleaning.py
  tests/commands/json/test_custom.py
  tests/commands/json/test_fan_speed.py
  tests/commands/json/test_life_span.py
  tests/commands/json/test_map.py
  tests/commands/json/test_mulitmap_state.py
  tests/commands/json/test_true_detect.py
  tests/commands/json/test_water_info.py
  tests/helpers.py
Due: mypy

add ResetLifeSpan tests
  deebot_client/commands/json/life_span.py
  tests/commands/json/test_life_span.py
Due: mypy, pylint

fix DeviceCapabilitiesRef
  deebot_client/hardware/device_capabilities.py
  tests/hardware/__init__.py
  tests/hardware/test_init.py
Due: mypy, pylint

add DeviceCapabilities.capabilities (#312)
  deebot_client/commands/json/life_span.py
  deebot_client/hardware/__init__.py
  deebot_client/hardware/deebot.py
  deebot_client/hardware/device_capabilities.py
  deebot_client/util.py
  tests/commands/json/__init__.py
  tests/commands/json/test_advanced_mode.py
  tests/commands/json/test_battery.py
  tests/commands/json/test_carpet.py
  tests/commands/json/test_charge.py
  tests/commands/json/test_charge_state.py
  tests/commands/json/test_clean.py
  tests/commands/json/test_clean_count.py
  tests/commands/json/test_clean_preference.py
  tests/commands/json/test_continuous_cleaning.py
  tests/commands/json/test_custom.py
  tests/commands/json/test_fan_speed.py
  tests/commands/json/test_life_span.py
  tests/commands/json/test_map.py
  tests/commands/json/test_mulitmap_state.py
  tests/commands/json/test_true_detect.py
  tests/commands/json/test_water_info.py
  tests/hardware/__init__.py
  tests/hardware/test_device_capabilities.py
  tests/hardware/test_init.py
  tests/helpers.py
Due: mypy, pylint

Get refresh commands only once per event
  deebot_client/events/event_bus.py
Due: mypy, pylint

Call get_refresh_commands only once per event (#315)
  deebot_client/events/event_bus.py
Due: mypy, pylint

Did some initial work for moving the cleaning XML command
  deebot_client/commands/json/clean.py
  deebot_client/commands/xml/__init__.py
  deebot_client/commands/xml/clean.py
  deebot_client/commands/xml/common.py
Due: mypy, pylint

Upgrade aiohttp to allow working on nightlies
  requirements.txt
Due: none

Upgrade aiohttp to allow working on nightlies (#318)
  requirements.txt
Due: none

Add create_from_mqtt and make strict types for command init
  deebot_client/command.py
  deebot_client/commands/json/clean_count.py
  deebot_client/commands/json/common.py
  deebot_client/commands/json/fan_speed.py
  deebot_client/commands/json/life_span.py
  deebot_client/commands/json/volume.py
  deebot_client/commands/json/water_info.py
  deebot_client/mqtt_client.py
  tests/commands/json/__init__.py
  tests/commands/json/test_advanced_mode.py
  tests/commands/json/test_carpet.py
  tests/commands/json/test_clean_preference.py
  tests/commands/json/test_continuous_cleaning.py
  tests/commands/json/test_fan_speed.py
  tests/commands/json/test_life_span.py
  tests/commands/json/test_mulitmap_state.py
  tests/commands/json/test_true_detect.py
  tests/commands/json/test_water_info.py
  tests/test_mqtt_client.py
Due: mypy, pylint

Simplify _mqtt_params
  deebot_client/command.py
  deebot_client/commands/json/clean_count.py
  deebot_client/commands/json/common.py
  deebot_client/commands/json/fan_speed.py
  deebot_client/commands/json/life_span.py
  deebot_client/commands/json/volume.py
  deebot_client/commands/json/water_info.py
Due: mypy, pylint

fix params
  deebot_client/commands/json/life_span.py
Due: mypy, pylint

add tests
  deebot_client/command.py
  tests/test_command.py
Due: mypy, pylint

add test for addiotnal fields
  tests/test_command.py
Due: mypy

add volume tests
  tests/commands/json/test_volume.py
Due: mypy

Add create_from_mqtt and make strict types for command init (#319)
  deebot_client/command.py
  deebot_client/commands/json/clean_count.py
  deebot_client/commands/json/common.py
  deebot_client/commands/json/fan_speed.py
  deebot_client/commands/json/life_span.py
  deebot_client/commands/json/volume.py
  deebot_client/commands/json/water_info.py
  deebot_client/mqtt_client.py
  tests/commands/json/__init__.py
  tests/commands/json/test_advanced_mode.py
  tests/commands/json/test_carpet.py
  tests/commands/json/test_clean_preference.py
  tests/commands/json/test_continuous_cleaning.py
  tests/commands/json/test_fan_speed.py
  tests/commands/json/test_life_span.py
  tests/commands/json/test_mulitmap_state.py
  tests/commands/json/test_true_detect.py
  tests/commands/json/test_volume.py
  tests/commands/json/test_water_info.py
  tests/test_command.py
  tests/test_mqtt_client.py
Due: mypy, pylint

Exclude TYPE_CHECKING from test coverage
  .coveragerc
Due: none

Exclude TYPE_CHECKING from test coverage (#322)
  .coveragerc
Due: none

fix mypy error
  deebot_client/models.py
Due: mypy, pylint

fix get_mocked_capabilities
  tests/helpers.py
Due: mypy
