Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  skip:
    # This steps run in the ci workflow. Keep in sync
    - mypy
    - pylint
    - verifyNoGetLogger

default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.6
    hooks:
      - id: ruff
        args:
          - --fix
          # - --unsafe-fixes
      - id: ruff-format
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args:
          - --py311-plus
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,deebot
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types:
          - csv
          - json
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: [--branch, main, --branch, dev]
      - id: requirements-txt-fixer
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.1.0
          - prettier-plugin-sort-json@3.1.0
        exclude_types:
          - python
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.33.0
    hooks:
      - id: yamllint
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: Check with mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types:
          - python
        require_serial: true
      - id: pylint
        name: Check with pylint
        entry: scripts/run-in-env.sh pylint
        language: script
        types:
          - python
        require_serial: true
        exclude: ^tests/.+
      - id: verifyNoGetLogger
        name: Verify no getLogger usages
        entry: scripts/check_getLogger.sh
        language: script
        require_serial: true

Add calibration points to map - refactor
  deebot_client/map.py
Due: mypy, pylint

refactor: fix last change and extend test case for clean info
  deebot_client/messages/json/clean.py
  tests/commands/json/test_clean.py
Due: mypy, pylint

refactor: extend clean test case
  tests/commands/json/test_clean.py
  tests/messages/json/test_clean.py
Due: mypy

refactor: small updates - create on major map - general code clean - test case updates
  deebot_client/commands/json/map.py
  deebot_client/map.py
  deebot_client/messages/json/__init__.py
  deebot_client/messages/json/clean.py
  deebot_client/messages/json/map.py
  tests/commands/json/test_map.py
  tests/messages/json/test_map.py
Due: mypy, pylint

refactor: fix p3.11 in enum check
  deebot_client/commands/json/map.py
Due: mypy, pylint

Added support for get/setWashInfo commands and onWashInfo message
  deebot_client/capabilities.py
  deebot_client/commands/json/__init__.py
  deebot_client/commands/json/wash_info.py
  deebot_client/events/__init__.py
  deebot_client/events/wash_info.py
  deebot_client/hardware/deebot/p1jij8.py
  deebot_client/messages/json/__init__.py
  deebot_client/messages/json/wash_info.py
  tests/commands/json/test_wash_info.py
Due: mypy, pylint

Apply suggestions from code review
  deebot_client/commands/json/wash_info.py
  deebot_client/events/wash_info.py
Due: mypy, pylint

Apply suggestions from code review
  deebot_client/commands/json/wash_info.py
Due: mypy, pylint

Refactored code to use a single WashInfo command class
  deebot_client/capabilities.py
  deebot_client/commands/json/__init__.py
  deebot_client/commands/json/wash_info.py
  deebot_client/events/wash_info.py
  deebot_client/hardware/deebot/p1jij8.py
  deebot_client/messages/json/wash_info.py
  tests/commands/json/test_wash_info.py
Due: mypy, pylint

refactor: update project conf files - move mypy/pytest into project.toml - update scripts - upgrade pre-commit - extend pre-commit
  .coveragerc
  .pre-commit-config.yaml
  mypy.ini
  pyproject.toml
  pytest.ini
  requirements.txt
  scripts/check_getLogger.sh
  scripts/run-in-env.sh
Due: none

Nitpicks text
  README.md
  deebot_client/authentication.py
  deebot_client/capabilities.py
  deebot_client/event_bus.py
  deebot_client/events/efficiency_mode.py
  deebot_client/hardware/deebot/2o4lnm.py
  deebot_client/hardware/deebot/fallback.py
  deebot_client/hardware/deebot/p1jij8.py
  deebot_client/hardware/deebot/p95mgv.py
  deebot_client/hardware/deebot/x5d34r.py
  deebot_client/hardware/deebot/yna5xi.py
  deebot_client/map.py
  deebot_client/models.py
  deebot_client/mqtt_client.py
  deebot_client/util/__init__.py
  deebot_client/util/continents.py
  tests/commands/json/test_common.py
  tests/commands/json/test_efficiency.py
  tests/helpers/tasks.py
  tests/messages/json/test_map.py
  tests/test_authentication.py
  tests/test_device.py
  tests/test_event_bus.py
  tests/test_mqtt_client.py
  tests/util/test_continents.py
Due: mypy, pylint

Align viewbox center with vacuum map center This removes the need to adjust all the coordinates by the bounding box. It is enough to divide by 50.
  deebot_client/map.py
  tests/test_map.py
Due: mypy, pylint

fix Deebot N10 Plus
  deebot_client/hardware/deebot/umwv6z.py
Due: mypy, pylint

fix Deebot N10 Plus (#434)
  deebot_client/hardware/deebot/umwv6z.py
Due: mypy, pylint

Add default value to InitParam
  deebot_client/command.py
  deebot_client/commands/json/common.py
  deebot_client/commands/json/life_span.py
  deebot_client/commands/json/ota.py
  deebot_client/commands/json/wash_info.py
Due: mypy, pylint

Fix SetWashInfo
  deebot_client/commands/json/wash_info.py
  tests/commands/json/test_wash_info.py
Due: mypy, pylint

Use pop again
  deebot_client/command.py
Due: mypy, pylint

Add test for Map._get_svg_positions
  tests/test_map.py
Due: mypy

Add device type
  deebot_client/hardware/deebot/2o4lnm.py
  deebot_client/hardware/deebot/fallback.py
  deebot_client/hardware/deebot/p1jij8.py
  deebot_client/hardware/deebot/p95mgv.py
  deebot_client/hardware/deebot/umwv6z.py
  deebot_client/hardware/deebot/x5d34r.py
  deebot_client/hardware/deebot/yna5xi.py
  deebot_client/models.py
  tests/hardware/test_init.py
Due: mypy, pylint

Fix test
  tests/helpers/__init__.py
Due: mypy

Add Goat G1
  deebot_client/capabilities.py
  deebot_client/commands/json/__init__.py
  deebot_client/commands/json/border_switch.py
  deebot_client/commands/json/child_lock.py
  deebot_client/commands/json/clean.py
  deebot_client/commands/json/cross_map_border_warning.py
  deebot_client/commands/json/moveup_warning.py
  deebot_client/commands/json/safe_protect.py
  deebot_client/events/__init__.py
  deebot_client/hardware/deebot/5xu9h3.py
  deebot_client/models.py
  tests/commands/json/test_border_switch.py
  tests/commands/json/test_child_lock.py
  tests/commands/json/test_clean.py
  tests/commands/json/test_cross_map_border_warning.py
  tests/commands/json/test_moveup_warning.py
  tests/commands/json/test_safe_protect.py
  tests/hardware/test_init.py
  tests/test_event_bus.py
Due: mypy, pylint

Minor fixes
  deebot_client/models.py
  tests/commands/json/test_clean.py
  tests/test_event_bus.py
Due: mypy, pylint

Add device type (#435)
  deebot_client/hardware/deebot/2o4lnm.py
  deebot_client/hardware/deebot/fallback.py
  deebot_client/hardware/deebot/p1jij8.py
  deebot_client/hardware/deebot/p95mgv.py
  deebot_client/hardware/deebot/umwv6z.py
  deebot_client/hardware/deebot/x5d34r.py
  deebot_client/hardware/deebot/yna5xi.py
  deebot_client/models.py
  tests/hardware/test_init.py
  tests/helpers/__init__.py
Due: mypy, pylint

Nitpicks text (#431)
  README.md
  deebot_client/authentication.py
  deebot_client/capabilities.py
  deebot_client/event_bus.py
  deebot_client/events/efficiency_mode.py
  deebot_client/hardware/deebot/2o4lnm.py
  deebot_client/hardware/deebot/fallback.py
  deebot_client/hardware/deebot/p1jij8.py
  deebot_client/hardware/deebot/p95mgv.py
  deebot_client/hardware/deebot/x5d34r.py
  deebot_client/hardware/deebot/yna5xi.py
  deebot_client/map.py
  deebot_client/models.py
  deebot_client/mqtt_client.py
  deebot_client/util/__init__.py
  deebot_client/util/continents.py
  tests/commands/json/test_common.py
  tests/commands/json/test_efficiency.py
  tests/helpers/tasks.py
  tests/messages/json/test_map.py
  tests/test_authentication.py
  tests/test_device.py
  tests/test_event_bus.py
  tests/test_mqtt_client.py
  tests/util/test_continents.py
Due: mypy, pylint

Add fixed after tests with goat
  deebot_client/capabilities.py
  deebot_client/commands/json/__init__.py
  deebot_client/commands/json/child_lock.py
  deebot_client/commands/json/moveup_warning.py
  deebot_client/events/__init__.py
  deebot_client/hardware/deebot/5xu9h3.py
  tests/commands/json/test_child_lock.py
  tests/commands/json/test_moveup_warning.py
  tests/hardware/test_init.py
Due: mypy, pylint

Fix CI
  deebot_client/hardware/deebot/umwv6z.py
Due: mypy, pylint

Fix CI (#436)
  deebot_client/hardware/deebot/umwv6z.py
Due: mypy, pylint

Add DeviceType Mower
  deebot_client/hardware/deebot/5xu9h3.py
Due: mypy, pylint

Add STOP to clean tests
  tests/commands/json/test_clean.py
Due: mypy

Add Goat G1 (#432)
  deebot_client/capabilities.py
  deebot_client/commands/json/__init__.py
  deebot_client/commands/json/border_switch.py
  deebot_client/commands/json/child_lock.py
  deebot_client/commands/json/clean.py
  deebot_client/commands/json/cross_map_border_warning.py
  deebot_client/commands/json/moveup_warning.py
  deebot_client/commands/json/safe_protect.py
  deebot_client/events/__init__.py
  deebot_client/hardware/deebot/5xu9h3.py
  deebot_client/models.py
  tests/commands/json/test_border_switch.py
  tests/commands/json/test_child_lock.py
  tests/commands/json/test_clean.py
  tests/commands/json/test_cross_map_border_warning.py
  tests/commands/json/test_moveup_warning.py
  tests/commands/json/test_safe_protect.py
  tests/hardware/test_init.py
Due: mypy, pylint

Replace DeviceType by own capability class per device type
  deebot_client/capabilities.py
  deebot_client/hardware/deebot/2o4lnm.py
  deebot_client/hardware/deebot/5xu9h3.py
  deebot_client/hardware/deebot/fallback.py
  deebot_client/hardware/deebot/p1jij8.py
  deebot_client/hardware/deebot/p95mgv.py
  deebot_client/hardware/deebot/umwv6z.py
  deebot_client/hardware/deebot/x5d34r.py
  deebot_client/hardware/deebot/yna5xi.py
  deebot_client/models.py
  tests/hardware/test_init.py
  tests/helpers/__init__.py
Due: mypy, pylint

Replace DeviceType by own capability class per device type (#439)
  deebot_client/capabilities.py
  deebot_client/hardware/deebot/2o4lnm.py
  deebot_client/hardware/deebot/5xu9h3.py
  deebot_client/hardware/deebot/fallback.py
  deebot_client/hardware/deebot/p1jij8.py
  deebot_client/hardware/deebot/p95mgv.py
  deebot_client/hardware/deebot/umwv6z.py
  deebot_client/hardware/deebot/x5d34r.py
  deebot_client/hardware/deebot/yna5xi.py
  deebot_client/models.py
  tests/hardware/test_init.py
  tests/helpers/__init__.py
Due: mypy, pylint

Improve capabilities typing
  deebot_client/api_client.py
  deebot_client/capabilities.py
  deebot_client/command.py
  deebot_client/commands/json/clean.py
  deebot_client/commands/json/clean_logs.py
  deebot_client/device.py
  deebot_client/hardware/deebot/__init__.py
  deebot_client/models.py
  deebot_client/mqtt_client.py
  tests/commands/__init__.py
  tests/commands/json/__init__.py
  tests/commands/json/test_clean.py
  tests/commands/json/test_common.py
  tests/commands/xml/__init__.py
  tests/commands/xml/test_error.py
  tests/conftest.py
  tests/hardware/test_init.py
  tests/helpers/__init__.py
  tests/mqtt_util.py
  tests/test_command.py
  tests/test_device.py
  tests/test_mqtt_client.py
  tests/test_mqtt_client_reconnect.py
Due: mypy, pylint

fix for 3.11
  deebot_client/mqtt_client.py
  tests/mqtt_util.py
  tests/test_mqtt_client.py
Due: mypy, pylint

Refactor due capabilities typing (#440)
  deebot_client/api_client.py
  deebot_client/capabilities.py
  deebot_client/command.py
  deebot_client/commands/json/clean.py
  deebot_client/commands/json/clean_logs.py
  deebot_client/device.py
  deebot_client/hardware/deebot/__init__.py
  deebot_client/models.py
  deebot_client/mqtt_client.py
  tests/commands/__init__.py
  tests/commands/json/__init__.py
  tests/commands/json/test_clean.py
  tests/commands/json/test_common.py
  tests/commands/xml/__init__.py
  tests/commands/xml/test_error.py
  tests/conftest.py
  tests/hardware/test_init.py
  tests/helpers/__init__.py
  tests/mqtt_util.py
  tests/test_command.py
  tests/test_device.py
  tests/test_mqtt_client.py
  tests/test_mqtt_client_reconnect.py
Due: mypy, pylint

Merge svg import in test_map
  tests/test_map.py
Due: mypy

Add test for deebot_client.map._get_svg_subset
  tests/test_map.py
Due: mypy

Add support for DEEBOT T20 PRO PLUS
  deebot_client/hardware/deebot/paeygf.py
Due: mypy, pylint

fix
  tests/commands/json/test_charge.py
Due: mypy
