Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  skip:
    # This steps run in the ci workflow. Keep in sync
    - mypy
    - pylint
    - verifyNoGetLogger

default_language_version:
  python: python3.13

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --unsafe-fixes
      - id: ruff-format
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args:
          - --py312-plus
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=deebot
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
          - --exclude-file=deebot_client/util/continents.py
        exclude_types:
          - csv
          - json
        exclude: ^uv.lock$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: [--branch, main, --branch, dev]
      - id: requirements-txt-fixer
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.2.4
          - prettier-plugin-sort-json@3.1.0
        exclude_types:
          - python
        exclude: ^uv.lock$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: Check with mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types:
          - python
        require_serial: true
      - id: pylint
        name: Check with pylint
        entry: scripts/run-in-env.sh pylint
        language: script
        types:
          - python
        require_serial: true
        exclude: ^tests/.+
      - id: verifyNoGetLogger
        name: Verify no getLogger usages
        entry: scripts/check_getLogger.sh
        language: script
        require_serial: true

remove GetOnStats, statistics are managed via mqtt
  deebot_client/commands/json/stats.py
  deebot_client/hardware/deebot/8kwdb4.py
Due: mypy, pylint

test for OnStats
  tests/messages/test_get_messages.py
Due: mypy

add test_onStats
  tests/messages/json/test_stats.py
Due: mypy

revert change
  deebot_client/hardware/deebot/8kwdb4.py
Due: mypy, pylint

message.py: Properly decode strings before handling them
  deebot_client/message.py
Due: mypy, pylint

Do not assume all messages are JSON
  deebot_client/device.py
Due: mypy, pylint

Be more lenient with JSON parsing
  deebot_client/device.py
Due: mypy, pylint

Add MessageStr conversion tests
  tests/messages/__init__.py
  tests/test_message.py
Due: mypy

Add test for device.py changes
  deebot_client/device.py
  tests/helpers/__init__.py
  tests/test_device.py
Due: mypy, pylint

Add test for Message error handler
  tests/test_message.py
Due: mypy

Add more tests
  tests/test_device.py
Due: mypy

Add first batch of XML Water related commands and messages
  deebot_client/commands/xml/__init__.py
  deebot_client/commands/xml/water_info.py
  deebot_client/messages/xml/__init__.py
  deebot_client/messages/xml/water_info.py
  tests/commands/xml/test_water_info.py
Due: mypy, pylint

refactor
  deebot_client/capabilities.py
  deebot_client/commands/json/map.py
  deebot_client/commands/xml/map.py
  deebot_client/map.py
  tests/commands/xml/test_map.py
Due: mypy, pylint

Add definition for 2pv572
  deebot_client/capabilities.py
  deebot_client/commands/xml/map.py
  deebot_client/hardware/deebot/2pv572.py
  tests/commands/xml/test_map.py
Due: mypy, pylint

format
  deebot_client/commands/xml/map.py
Due: mypy, pylint

Add ls1ok3 as an alias of 2pv572 since we have no mopping support yet
  deebot_client/hardware/deebot/ls1ok3.py
Due: mypy, pylint

Remove xml bots
  deebot_client/hardware/deebot/2pv572.py
  deebot_client/hardware/deebot/ls1ok3.py
Due: mypy, pylint

Revert frozenlist update
  uv.lock
Due: none

Use model name
  deebot_client/hardware/deebot/2pv572.py
Due: mypy, pylint

Add more tests
  tests/messages/xml/test_map.py
Due: mypy

Fix tests
  tests/messages/xml/test_map.py
Due: mypy

XML Map messages
  deebot_client/messages/xml/__init__.py
  deebot_client/messages/xml/map.py
  tests/messages/xml/test_map.py
Due: mypy, pylint

Create elrxgb.py
  deebot_client/hardware/deebot/elrxgb.py
Due: mypy, pylint

Revert capabilities change
  deebot_client/hardware/deebot/659yh8.py
Due: mypy, pylint

Fix test
  tests/messages/json/test_stats.py
Due: mypy

Fix symlink
  deebot_client/hardware/deebot/elrxgb.py
Due: mypy, pylint

Add bots by similarity
  deebot_client/hardware/deebot/34vhpm.py
  deebot_client/hardware/deebot/cuoipb.py
Due: mypy, pylint

Improve script
  .gitignore
  scripts/check_for_similar_models.py
Due: mypy, pylint

Update README.md
  README.md
Due: none

move to correct device
  deebot_client/hardware/deebot/659yh8.py
Due: mypy, pylint

Add initial support for Goat A1600 RTK (#852)
  deebot_client/commands/json/__init__.py
  deebot_client/commands/json/auto_cut_direction.py
  deebot_client/commands/json/rain_delay.py
  deebot_client/events/__init__.py
  deebot_client/hardware/deebot/xmp9ds.py
Due: mypy, pylint

Add support for DEEBOT T50 MAX PRO OMNI
  deebot_client/hardware/deebot/qnkybo.py
Due: mypy, pylint

Add XML Clean Messages
  deebot_client/commands/xml/clean.py
  deebot_client/messages/xml/__init__.py
  deebot_client/messages/xml/clean.py
  tests/messages/__init__.py
  tests/messages/xml/test_clean.py
Due: mypy, pylint

Assume that a RESUME commmands moves the bot into Cleaning state
  deebot_client/messages/xml/clean.py
  tests/commands/xml/test_clean.py
  tests/messages/xml/test_clean.py
Due: mypy, pylint

Add y79a7u as an alias of ls1ok3
  deebot_client/hardware/deebot/y79a7u.py
Due: mypy, pylint

Do not assume every PositionsEvent has a PositionType.DEEBOT inside
  deebot_client/device.py
Due: mypy, pylint

ChargeState IDLE should not produce any events
  deebot_client/messages/xml/charge_state.py
  tests/commands/xml/test_charge_state.py
  tests/messages/xml/test_charge_state.py
Due: mypy, pylint

Add some explanatory comments
  deebot_client/messages/xml/charge_state.py
Due: mypy, pylint
