Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  skip:
    # This steps run in the ci workflow. Keep in sync
    - mypy
    - pylint
    - verifyNoGetLogger

default_language_version:
  python: python3.13

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --unsafe-fixes
      - id: ruff-format
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args:
          - --py312-plus
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=deebot
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
          - --exclude-file=deebot_client/util/continents.py
        exclude_types:
          - csv
          - json
        exclude: ^uv.lock$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: [--branch, main, --branch, dev]
      - id: requirements-txt-fixer
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.2.4
          - prettier-plugin-sort-json@3.1.0
        exclude_types:
          - python
        exclude: ^uv.lock$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: Check with mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types:
          - python
        require_serial: true
      - id: pylint
        name: Check with pylint
        entry: scripts/run-in-env.sh pylint
        language: script
        types:
          - python
        require_serial: true
        exclude: ^tests/.+
      - id: verifyNoGetLogger
        name: Verify no getLogger usages
        entry: scripts/check_getLogger.sh
        language: script
        require_serial: true

Enhance NGIOT map functionality by adding support for carpets and room subsets, and refactor related event handling
  deebot_client/commands/ngiot/map.py
  deebot_client/events/map.py
  deebot_client/map.py
  src/map/background_image.rs
  src/map/map_info.rs
  src/map/mod.rs
  src/map/style.rs
Due: mypy, pylint

Implement NGIOT background handling with synchronization and rendering capabilities
  deebot_client/map.py
  deebot_client/ngiot_map_state.py
  deebot_client/rs/map.pyi
  src/map/mod.rs
  src/map/ngiot_background.rs
Due: mypy, pylint

HA test candidate - able to get status updates, but MAP fails
  deebot_client/device.py
  deebot_client/map.py
Due: mypy, pylint

Enhance NGIOT map functionality by adding raster background handling and related parsing improvements
  deebot_client/commands/ngiot/map.py
  deebot_client/map.py
  deebot_client/ngiot_map_parser.py
  deebot_client/ngiot_map_state.py
  src/map/background_image.rs
  src/map/map_info.rs
  src/map/mod.rs
  src/map/ngiot_background.rs
Due: mypy, pylint

Refactor GetMapSet to use drawable subset IDs for event notifications
  deebot_client/commands/ngiot/map.py
  src/util.rs
Due: mypy, pylint

Don't downgrade
  Cargo.lock
Due: none

Enhance NGIOT background handling with extra-safe defaults and scaling adjustments
  deebot_client/map.py
  src/map/background_image.rs
  src/map/mod.rs
  src/map/ngiot_background.rs
  src/map/points.rs
Due: mypy, pylint

**BROKEN COMMIT** Refactor map module to improve NGIOT background handling and position transformations
  deebot_client/map.py
  src/map/background_image.rs
  src/map/mod.rs
  src/map/ngiot_background.rs
Due: mypy, pylint

Add hardware definition for Ecovacs DEEBOT T80S OMNI
  deebot_client/hardware/rzwv5p.py
Due: mypy, pylint

Rename deebot_client/hardware/rzwv5p.py to deebot_client/hardware/deebot_client/hardware/deebot/rzwv5p.py
  deebot_client/hardware/deebot_client/hardware/deebot/rzwv5p.py
Due: mypy, pylint

Refactor DEEBOT T80S hardware capabilities structure
  deebot_client/hardware/deebot_client/hardware/deebot/rzwv5p.py
  deebot_client/hardware/deebot_client/hardware/rzwv5p.py
Due: mypy, pylint

WIP commit - working on correcting a few bug related to marker and trace placement
  deebot_client/map.py
  deebot_client/rs/map.pyi
  src/map/map_info.rs
  src/map/mod.rs
  src/map/ngiot_background.rs
  src/map/points.rs
Due: mypy, pylint

Testing Candidate Enhance NGIOT map handling by adding direction support and improving map ID resolution logic
  deebot_client/commands/ngiot/map.py
  deebot_client/hardware/eyfj07.py
  deebot_client/map.py
  deebot_client/ngiot_map_parser.py
  deebot_client/rs/map.pyi
  src/map/mod.rs
  src/map/ngiot_background.rs
Due: mypy, pylint

feat(camera): add KVS WebRTC camera support module
  deebot_client/camera/__init__.py
  deebot_client/camera/api.py
  deebot_client/camera/mqtt.py
  deebot_client/camera/signaling.py
Due: mypy, pylint

Create a2ywac.py
  deebot_client/hardware/a2ywac.py
Due: mypy, pylint

Enhance NGIOT client with fallback control host and improved request handling
  deebot_client/authentication.py
  deebot_client/ngiot_client.py
Due: mypy, pylint

Enhance NGIOT integration with new message handling and topic routing
  deebot_client/map.py
  deebot_client/messages/json/__init__.py
  deebot_client/messages/json/ngiot.py
  deebot_client/mqtt_client.py
Due: mypy, pylint

Add volume control commands and integrate into NGIOT client
  deebot_client/commands/ngiot/__init__.py
  deebot_client/commands/ngiot/child_lock.py
  deebot_client/commands/ngiot/clean.py
  deebot_client/commands/ngiot/play_sound.py
  deebot_client/commands/ngiot/volume.py
  deebot_client/hardware/eyfj07.py
  deebot_client/messages/json/ngiot.py
  deebot_client/ngiot_client.py
Due: mypy, pylint

fix(camera): address Copilot bot review comments
  deebot_client/camera/api.py
  deebot_client/camera/mqtt.py
  deebot_client/camera/signaling.py
Due: mypy, pylint

Add overlay SVG offset handling in NGIOT integration for improved positioning
  src/map/mod.rs
  src/map/ngiot_background.rs
  src/map/points.rs
Due: none

Refactor visibility of calc_point and generate functions for improved encapsulation; add tests for ngiot_map_parser functionality
  src/map/mod.rs
  src/map/ngiot_background.rs
  tests/test_ngiot_map_parser.py
Due: mypy

Reorder capability imports for improved organization and clarity
  deebot_client/hardware/eyfj07.py
Due: mypy, pylint

Add APN_RESET_CONSUMABLE constant and refactor life span commands for NGIOT integration
  deebot_client/commands/ngiot/life_span.py
  deebot_client/ngiot_client.py
Due: mypy, pylint

Add NGIOT integration tests for clean, stats, and map state functionalities
  tests/commands/ngiot/test_clean.py
  tests/commands/ngiot/test_stats.py
  tests/hardware/test_init.py
  tests/messages/json/test_ngiot.py
  tests/rs/test_util.py
  tests/test_mqtt_client_ngiot.py
  tests/test_ngiot_client.py
  tests/test_ngiot_map_state.py
Due: mypy

Refactor map data handling and update tests for improved clarity and functionality
  deebot_client/map.py
  tests/commands/ngiot/test_map.py
  tests/conftest.py
  tests/rs/test_map.py
  tests/test_map.py
  tests/test_message.py
Due: mypy, pylint

Enhance map event handling and improve test coverage for map-related functionalities
  deebot_client/event_bus.py
  deebot_client/map.py
  tests/commands/ngiot/test_map.py
  tests/conftest.py
  tests/helpers/__init__.py
  tests/test_map.py
Due: mypy, pylint

Implement retry logic for transient busy responses in NGIOT client
  deebot_client/ngiot_client.py
Due: mypy, pylint

Add support for GOAT A3000 LiDAR Pro (51rcxt)
  deebot_client/hardware/51rcxt.py
Due: mypy, pylint

Apply suggestion from @edenhaus
  deebot_client/hardware/51rcxt.py
Due: mypy, pylint

Update MSRV to 1.95 and update rust deps
  Cargo.lock
  Cargo.toml
Due: none

Collapse deps updates in releases
  .github/release-drafter.yml
Due: none

Fix
  src/map/map_info.rs
Due: none

Fix CI and missing newline at end of rzwv5p.py and
  deebot_client/hardware/deebot/rzwv5p.py
Due: mypy, pylint

Set MSRV to 1.94
  Cargo.toml
Due: none

Add __init__.py for Deebot hardware configurations
  deebot_client/hardware/deebot/__init__.py
Due: mypy, pylint

Fix it
  deebot_client/hardware/deebot/__init__.py
  deebot_client/hardware/rzwv5p.py
Due: mypy, pylint

Add devices by similarity
  deebot_client/hardware/3gwbbm.py
  deebot_client/hardware/aadham.py
  deebot_client/hardware/cgm9ex.py
  deebot_client/hardware/e4gqia.py
  deebot_client/hardware/m2nkyq.py
  deebot_client/hardware/ss87ia.py
  deebot_client/hardware/wwswjm.py
Due: mypy, pylint

feat: add ngiot transport and sst authentication
  deebot_client/authentication.py
  deebot_client/ngiot_client.py
  deebot_client/sst_authentication.py
  tests/test_authentication_ngiot.py
  tests/test_ngiot_client.py
  tests/test_sst_authentication.py
Due: mypy, pylint

feat: implement NGIOT command module with battery, charge, clean, and custom commands
  deebot_client/commands/ngiot/__init__.py
  deebot_client/commands/ngiot/battery.py
  deebot_client/commands/ngiot/charge.py
  deebot_client/commands/ngiot/clean.py
  deebot_client/commands/ngiot/common.py
  deebot_client/commands/ngiot/custom.py
Due: mypy, pylint

fix: ensure consistent formatting and import organization across NGIOT command modules
  deebot_client/commands/ngiot/__init__.py
  deebot_client/commands/ngiot/battery.py
  deebot_client/commands/ngiot/charge.py
  deebot_client/commands/ngiot/clean.py
  deebot_client/commands/ngiot/common.py
  deebot_client/commands/ngiot/custom.py
  deebot_client/ngiot_client.py
  deebot_client/sst_authentication.py
Due: mypy, pylint
