Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  skip:
    # This steps run in the ci workflow. Keep in sync
    - mypy
    - pylint
    - verifyNoGetLogger

default_language_version:
  python: python3.13

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --unsafe-fixes
      - id: ruff-format
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args:
          - --py312-plus
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=deebot
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
          - --exclude-file=deebot_client/util/continents.py
        exclude_types:
          - csv
          - json
        exclude: ^uv.lock$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: [--branch, main, --branch, dev]
      - id: requirements-txt-fixer
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.2.4
          - prettier-plugin-sort-json@3.1.0
        exclude_types:
          - python
        exclude: ^uv.lock$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: Check with mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types:
          - python
        require_serial: true
      - id: pylint
        name: Check with pylint
        entry: scripts/run-in-env.sh pylint
        language: script
        types:
          - python
        require_serial: true
        exclude: ^tests/.+
      - id: verifyNoGetLogger
        name: Verify no getLogger usages
        entry: scripts/check_getLogger.sh
        language: script
        require_serial: true

fd60kt.py を更新
  deebot_client/hardware/fd60kt.py
Due: mypy, pylint

auto_empty.py を更新
  deebot_client/events/auto_empty.py
Due: mypy, pylint

Adjust stroke width
  src/map/map_info.rs
  src/map/mod.rs
  src/map/style.rs
  tests/__snapshots__/test_map.ambr
Due: none

Add room colors for png based maps
  src/map/background_image.rs
  tests/__snapshots__/test_map.ambr
Due: none

Update deebot_client/hardware/fd60kt.py
  deebot_client/hardware/fd60kt.py
Due: mypy, pylint

Update deebot_client/events/auto_empty.py
  deebot_client/events/auto_empty.py
Due: mypy, pylint

added dict to types and more
  deebot_client/capabilities.py
  deebot_client/events/auto_empty.py
  deebot_client/hardware/fd60kt.py
Due: mypy, pylint

Refactor auto_empty frequency configuration format
  deebot_client/hardware/fd60kt.py
Due: mypy, pylint

Clarify docstring for CapabilityTypes class
  deebot_client/capabilities.py
Due: mypy, pylint

Add Rust-based comma-separated integer parsing for performance optimization
  RUST_MIGRATION_STRING_PARSING.md
  deebot_client/commands/xml/map.py
  deebot_client/messages/json/map/__init__.py
  deebot_client/messages/json/stats.py
  deebot_client/rs/util.pyi
  src/util.rs
  tests/rs/test_string_parsing.py
Due: mypy, pylint

Improve test coverage and add CI verification guide
  CI_VERIFICATION_GUIDE.md
  tests/rs/test_string_parsing.py
Due: mypy

Add comprehensive test coverage for api_client, authentication, and mqtt_client
  tests/test_api_client.py
  tests/test_authentication.py
  tests/test_mqtt_client_unit.py
Due: mypy

Remove markdown documentation files
  CI_VERIFICATION_GUIDE.md
  RUST_MIGRATION_STRING_PARSING.md
Due: none

Migrate event bus to Rust for improved performance
  RUST_EVENT_BUS_MIGRATION.md
  deebot_client/event_bus_rust.py
  deebot_client/rs/event_bus.pyi
  src/event_bus.rs
  src/lib.rs
  tests/conftest.py
  tests/test_event_bus.py
  tests/test_event_bus_perf.py
Due: mypy, pylint

Fix linting issues in test files
  tests/test_api_client.py
  tests/test_authentication.py
  tests/test_mqtt_client_unit.py
Due: mypy

Refactor tests to use module-level functions instead of classes
  tests/rs/test_string_parsing.py
Due: mypy

Fix tests
  src/util.rs
  tests/rs/test_string_parsing.py
Due: mypy

Remove markdown file and fix linting issues
  RUST_EVENT_BUS_MIGRATION.md
  deebot_client/event_bus_rust.py
  deebot_client/rs/event_bus.pyi
  tests/conftest.py
  tests/test_event_bus.py
  tests/test_event_bus_perf.py
Due: mypy, pylint

Add benchmark fixture to all message tests
  tests/messages/json/test_station_state.py
  tests/messages/json/test_stats.py
Due: mypy

Fix CI issues: Rust formatting and stub file format
  deebot_client/rs/event_bus.pyi
  src/event_bus.rs
Due: none

Remove unnecessary tests
  tests/messages/json/test_stats.py
  tests/rs/test_string_parsing.py
Due: mypy

Fix clippy errors: Replace deprecated PyObject with Py<PyAny>
  src/event_bus.rs
Due: none

Move it to the correct file
  tests/rs/test_string_parsing.py
  tests/rs/test_util.py
Due: mypy

Fix pre-commit hooks, mypy, and clippy errors
  deebot_client/event_bus_rust.py
  deebot_client/rs/event_bus.pyi
  src/event_bus.rs
  tests/test_event_bus.py
  tests/test_event_bus_perf.py
Due: mypy, pylint

Fix
  src/util.rs
Due: none

Fix OverflowError and remove incompatible performance tests
  deebot_client/event_bus_rust.py
  tests/test_event_bus_perf.py
Due: mypy, pylint

adds support for the Chinese-market variant of the X9 series
  deebot_client/hardware/0jv4ti.py
Due: mypy, pylint

Create eup9ax.py
  deebot_client/hardware/eup9ax.py
Due: mypy, pylint

Delete deebot_client/hardware/c8rj4y.py
  deebot_client/hardware/c8rj4y.py
Due: mypy, pylint

Create c8rj4y.py
  deebot_client/hardware/c8rj4y.py
Due: mypy, pylint

T50 Omni: Add Symlink mezar1.py from fd60kt.py
  deebot_client/hardware/mezar1.py
Due: mypy, pylint

Convert RSSI to float before casting to int
  deebot_client/commands/json/network.py
Due: mypy, pylint

Add Deebot T30C Gen2 capabilities implementation
  deebot_client/hardware/viq3mw.py
Due: mypy, pylint

Remove building wheels for deprecated archs
  .github/workflows/ci.yml
Due: none

Use number event to set water amount for T80 OMNI
  deebot_client/hardware/9eamof.py
Due: mypy, pylint

Add files via upload
  deebot_client/hardware/eup9ax.py
Due: mypy, pylint

Correct symlink for T50 Pro Omni
  deebot_client/hardware/elrxgb.py
Due: mypy, pylint

Delete deebot_client/hardware/viq3mw.py
  deebot_client/hardware/viq3mw.py
Due: mypy, pylint

Add viq3mw.py for Deebot T30C Gen2 capabilities
  deebot_client/hardware/viq3mw.py
Due: mypy, pylint
