Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: Check with mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: Check with pylint
  entry: scripts/run-in-env.sh pylint
  language: script
  require_serial: true

Use 1.2.2
  .github/workflows/ci.yml
Due: none

Improve coodspeed cache
  .github/workflows/ci.yml
Due: none

Cache rust too for codspeed
  .github/workflows/ci.yml
Due: none

Add venv caching for tests
  .github/workflows/ci.yml
Due: none

Skip invalid positions
  .gitignore
  deebot_client/commands/json/pos.py
  tests/commands/json/test_pos.py
Due: mypy, pylint

Add map test and minor optimizations
  deebot_client/capabilities.py
  deebot_client/commands/json/map.py
  deebot_client/device.py
  deebot_client/hardware/deebot/9eamof.py
  deebot_client/hardware/deebot/n0vyif.py
  deebot_client/map.py
  tests/data/map/test_2.py
  tests/test_map.py
Due: mypy, pylint

fix change
  deebot_client/hardware/deebot/r8ead0.py
  deebot_client/hardware/deebot/vsc5ia.py
Due: mypy, pylint

revert change
  deebot_client/hardware/deebot/qhq6i0.py
Due: mypy, pylint

Add support for MapInfoV2
  Cargo.lock
  Cargo.toml
  deebot_client/capabilities.py
  deebot_client/commands/json/map.py
  deebot_client/device.py
  deebot_client/events/__init__.py
  deebot_client/events/map.py
  deebot_client/hardware/deebot/9eamof.py
  deebot_client/hardware/deebot/ilt3k8.py
  deebot_client/hardware/deebot/n0vyif.py
  deebot_client/map.py
  deebot_client/rs/map.pyi
  src/map.rs
  tests/commands/json/test_map.py
  tests/data/map/test_1.py
  tests/data/map/test_2.py
  tests/test_map.py
Due: mypy, pylint

Remove MapV2
  deebot_client/device.py
  deebot_client/map.py
  tests/test_map.py
Due: mypy, pylint

refactor
  deebot_client/map.py
Due: mypy, pylint

Add devices by similarity
  deebot_client/hardware/deebot/36hdj8.py
  deebot_client/hardware/deebot/6q3rfp.py
  deebot_client/hardware/deebot/gcu5tt.py
  deebot_client/hardware/deebot/kl54s5.py
  deebot_client/hardware/deebot/npu3pt.py
  deebot_client/hardware/deebot/y72606.py
Due: mypy, pylint

Apply suggestion from @Copilot
  deebot_client/hardware/__init__.py
Due: mypy, pylint

revert MoveTo + cleanups
  src/map.rs
Due: none

Set SVG Viewbox according to rotation
  src/.map.rs.swp
  src/map.rs
  tests/data/map/test_2.py
Due: mypy

Remove redundant file
  src/.map.rs.swp
Due: none

Fix Cargo merge issue
  Cargo.lock
Due: none

Handle new MapSetV2 data format
  deebot_client/commands/json/.map.py.swp
  deebot_client/commands/json/map.py
  tests/commands/json/test_map.py
Due: mypy, pylint

Combined to one parameterized test
  tests/commands/json/test_map.py
Due: mypy

Cleanup
  deebot_client/commands/json/.map.py.swp
  tests/commands/json/test_map.py
Due: mypy

Remove support for map rotation and refactor code
  deebot_client/commands/json/map.py
  deebot_client/events/map.py
  deebot_client/map.py
  deebot_client/rs/map.pyi
  src/.map.rs.swp
  src/map.rs
  tests/data/map/test_1.py
  tests/data/map/test_2.py
Due: mypy, pylint

Ugh...
  src/.map.rs.swp
Due: none

Add rooms support for robots without GetMapSubSet
  deebot_client/commands/json/map.py
  tests/commands/json/test_map.py
Due: mypy, pylint

Refactor map functions
  src/map.rs
Due: none

Refactor map set handling
  deebot_client/commands/json/map.py
  tests/commands/json/test_map.py
Due: mypy, pylint

refactor and fix
  deebot_client/commands/json/map.py
  deebot_client/map.py
  tests/commands/json/test_map.py
Due: mypy, pylint

fix
  deebot_client/commands/json/map.py
Due: mypy, pylint

Clean up obsolete code
  deebot_client/map.py
  tests/test_map.py
Due: mypy, pylint

Add setMajorMap and onMajorMap
  deebot_client/capabilities.py
  deebot_client/commands/json/__init__.py
  deebot_client/commands/json/map/__init__.py
  deebot_client/commands/json/map/major_map.py
  deebot_client/hardware/2o4lnm.py
  deebot_client/hardware/4bdkrs.py
  deebot_client/hardware/7bryc5.py
  deebot_client/hardware/8kwdb4.py
  deebot_client/hardware/9eamof.py
  deebot_client/hardware/9s1s80.py
  deebot_client/hardware/b2jqs4.py
  deebot_client/hardware/buom7k.py
  deebot_client/hardware/co3fyu.py
  deebot_client/hardware/e6ofmn.py
  deebot_client/hardware/ee23uv.py
  deebot_client/hardware/kr0277.py
  deebot_client/hardware/m1wkuw.py
  deebot_client/hardware/n0vyif.py
  deebot_client/hardware/p1jij8.py
  deebot_client/hardware/p7l7iu.py
  deebot_client/hardware/p95mgv.py
  deebot_client/hardware/qhe2o2.py
  deebot_client/hardware/ue8kcc.py
  deebot_client/hardware/umwv6z.py
  deebot_client/hardware/x5d34r.py
  deebot_client/hardware/xco2fc.py
  deebot_client/hardware/yna5xi.py
  deebot_client/messages/__init__.py
  deebot_client/messages/json/__init__.py
  deebot_client/messages/json/map.py
  tests/commands/json/map/__init__.py
  tests/commands/json/map/test_init.py
  tests/commands/json/map/test_major_map.py
  tests/messages/__init__.py
  tests/messages/json/test_map.py
Due: mypy, pylint

Fix
  deebot_client/capabilities.py
Due: mypy, pylint

Refactor CachedMapInfoEvent and add OnCachedMapInfo
  deebot_client/commands/json/map/__init__.py
  deebot_client/commands/json/map/cached_map_info.py
  deebot_client/commands/json/map/major_map.py
  deebot_client/commands/xml/map.py
  deebot_client/events/map.py
  deebot_client/messages/__init__.py
  deebot_client/messages/json/__init__.py
  deebot_client/messages/json/map/__init__.py
  deebot_client/messages/json/map/cached_map_info.py
  tests/commands/json/map/test_cached_map_info.py
  tests/commands/json/map/test_init.py
  tests/data/map/test_1.py
  tests/messages/json/map/__init__.py
  tests/messages/json/map/test_cached_map_info.py
  tests/messages/json/map/test_init.py
Due: mypy, pylint

Fix tests
  deebot_client/commands/json/map/cached_map_info.py
  tests/commands/json/map/test_cached_map_info.py
  tests/commands/xml/test_map.py
Due: mypy, pylint

Remove predefined names
  deebot_client/commands/xml/map.py
  deebot_client/events/map.py
  deebot_client/messages/json/map/cached_map_info.py
  tests/commands/json/map/test_cached_map_info.py
  tests/commands/xml/test_map.py
  tests/messages/__init__.py
  tests/messages/json/map/test_cached_map_info.py
Due: mypy, pylint

Improve tests
  tests/messages/json/map/test_cached_map_info.py
Due: mypy

Refactor legacy message handling
  deebot_client/messages/__init__.py
  deebot_client/messages/json/__init__.py
Due: mypy, pylint

Typo
  deebot_client/messages/__init__.py
  deebot_client/messages/json/__init__.py
Due: mypy, pylint

Add map test with virtual walls
  .pre-commit-config.yaml
  tests/data/map/test_2.py
Due: mypy

add no moping zone
  tests/data/map/test_2.py
Due: mypy

Publish MapSetEvent event also for other types
  deebot_client/commands/json/map/__init__.py
  tests/commands/json/map/test_init.py
  tests/data/map/test_2.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: ^tests/.+
