Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  skip:
    # This steps run in the ci workflow. Keep in sync
    - mypy
    - pylint
    - verifyNoGetLogger

default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=deebot
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
          - --exclude-file=deebot_client/util/continents.py
        exclude_types:
          - csv
          - json
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: no-commit-to-branch
        args: [--branch, main, --branch, dev]
      - id: requirements-txt-fixer
      - id: check-executables-have-shebangs
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.2.4
          - prettier-plugin-sort-json@3.1.0
        exclude_types:
          - python
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint

  # PYTHON ---------------------------------------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.2
    hooks:
      - id: ruff
        args:
          - --fix
          # - --unsafe-fixes
      - id: ruff-format
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.1
    hooks:
      - id: pyupgrade
        args:
          - --py311-plus
          # - --py312-plus
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: Check with mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types:
          - python
        require_serial: true
      - id: pylint
        name: Check with pylint
        entry: scripts/run-in-env.sh pylint
        language: script
        types:
          - python
        require_serial: true
        exclude: ^tests/.+
      - id: verifyNoGetLogger
        name: Verify no getLogger usages
        entry: scripts/check_getLogger.sh
        language: script
        require_serial: true

n
  .github/workflows/ci.yml
Due: none

Add DEEBOT T10 OMNI (yi396x) support
  deebot_client/hardware/deebot/yi396x.py
Due: mypy, pylint

Add support for deebot u2 (ts2ofl) - Based on U2 Pro(7j1tu6) with filter lifespan
  deebot_client/hardware/deebot/ts2ofl.py
Due: mypy, pylint

Add T30S Care (63cum9)
  deebot_client/hardware/deebot/63cum9.py
Due: mypy, pylint

Fix CI
  .github/workflows/ci.yml
  .github/workflows/python-publish.yml
Due: none

another one
  .github/workflows/ci.yml
Due: none

Fix CI (#757)
  .github/workflows/ci.yml
  .github/workflows/python-publish.yml
Due: none

Add support for Deebot U2 (ts2ofl) (#752)
  deebot_client/hardware/deebot/ts2ofl.py
Due: mypy, pylint

Add DEEBOT T10 OMNI (yi396x) support (#749)
  deebot_client/hardware/deebot/yi396x.py
Due: mypy, pylint

Unignore ruff rule ISC001 as it no longer collides with the formatter in ruff 0.9.1
  pyproject.toml
Due: none

Unignore ruff rule ISC001 as it no longer collides with the formatter in ruff 0.9.1 (#758)
  pyproject.toml
Due: none

Use a single workflow for CI and release
  .github/workflows/ci.yml
  .github/workflows/release-drafter.yml
Due: none

fix
  .github/workflows/ci.yml
Due: none

second fix
  .github/workflows/ci.yml
Due: none

fix download
  .github/workflows/ci.yml
Due: none

create base job
  .github/workflows/ci.yml
Due: none

add info job
  .github/workflows/ci.yml
Due: none

fix cache key
  .github/workflows/ci.yml
Due: none

next
  .github/workflows/ci.yml
Due: none

test
  .github/workflows/ci.yml
Due: none

Create venv manually
  .github/workflows/ci.yml
Due: none

Use uv
  .github/workflows/ci.yml
Due: none

Test SetVolume: adjust c&p method name
  tests/commands/json/test_volume.py
Due: mypy

Add tests for xml command 'play_sound'
  tests/commands/xml/test_play_sound.py
Due: mypy

add missing t30s combo vacuums
  deebot_client/hardware/deebot/ee23uv.py
  deebot_client/hardware/deebot/ue8kcc.py
Due: mypy, pylint

Add missing t30s combo vacuums (#763)
  deebot_client/hardware/deebot/ee23uv.py
  deebot_client/hardware/deebot/ue8kcc.py
Due: mypy, pylint

Add XML command "PlaySound" (#574)
  deebot_client/commands/xml/__init__.py
  deebot_client/commands/xml/common.py
  deebot_client/commands/xml/play_sound.py
  tests/commands/xml/test_play_sound.py
Due: mypy, pylint

Test SetVolume: adjust c&p method name (#762)
  tests/commands/json/test_volume.py
Due: mypy

Fix decompress_7z_base64_data
  deebot_client/commands/json/map.py
  deebot_client/map.py
  deebot_client/rs.pyi
  src/lib.rs
  tests/test_rs.py
Due: mypy, pylint

fix
  tests/test_map.py
Due: mypy
