Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: Check with mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: Check with pylint
  entry: scripts/run-in-env.sh pylint
  language: script
  require_serial: true

Small refactor + adding tests
  deebot_client/device.py
  tests/test_device.py
Due: mypy, pylint

Remove dead code
  deebot_client/models.py
Due: mypy, pylint

Fix CI deprecation warning
  .github/workflows/ci.yml
Due: none

Added support for T50 Max Pro by similarity
  deebot_client/hardware/deebot/c8rj4y.py
Due: mypy, pylint

Add models by similarity by UILogicId
  .gitignore
  deebot_client/hardware/deebot/5089oy.py
  deebot_client/hardware/deebot/6cibhb.py
  deebot_client/hardware/deebot/7c26ui.py
  deebot_client/hardware/deebot/8o3xke.py
  deebot_client/hardware/deebot/9rft3c.py
  deebot_client/hardware/deebot/ao7fpw.py
  deebot_client/hardware/deebot/aqdd5p.py
  deebot_client/hardware/deebot/bheggm.py
  deebot_client/hardware/deebot/czjwet.py
  deebot_client/hardware/deebot/k1lgm7.py
  deebot_client/hardware/deebot/m17zko.py
  deebot_client/hardware/deebot/p1wg05.py
  deebot_client/hardware/deebot/qhq6i0.py
  deebot_client/hardware/deebot/ruhc0q.py
  deebot_client/hardware/deebot/sa4tf7.py
  deebot_client/hardware/deebot/wgxm70.py
  deebot_client/hardware/deebot/xztz07.py
  deebot_client/hardware/deebot/zjna8m.py
  scripts/check_for_similar_models.py
Due: mypy, pylint

Revert "Add initial support for Goat A1600 RTK (#852)"
  deebot_client/commands/json/__init__.py
  deebot_client/commands/json/auto_cut_direction.py
  deebot_client/commands/json/rain_delay.py
  deebot_client/events/__init__.py
  deebot_client/hardware/deebot/xmp9ds.py
Due: mypy, pylint

Add initial support for Goat A1600 RTK (#852)
  deebot_client/hardware/deebot/xmp9ds.py
Due: mypy, pylint

Fiy type can be missing on OnStats
  deebot_client/messages/json/stats.py
  tests/messages/json/test_stats.py
Due: mypy, pylint

don't update forzenlist
  uv.lock
Due: none

Create 8onkgl.py
  deebot_client/hardware/deebot/8onkgl.py
Due: mypy, pylint

[StepSecurity] Apply security best practices
  .github/workflows/dependency-review.yml
Due: none

[StepSecurity] ci: Harden GitHub Actions
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release-drafter.yml
  .github/workflows/scorecard.yml
Due: none

Fix prettier
  .github/workflows/dependency-review.yml
Due: none

bump pyo3-log to 0.12.4
  Cargo.toml
Due: none

typo and lock file
  Cargo.lock
  Cargo.toml
Due: none

Fix xml custom coordinates cleaning
  deebot_client/commands/xml/clean.py
  tests/commands/json/test_clean.py
  tests/commands/xml/test_clean.py
Due: mypy, pylint

Update funding
  .github/FUNDING.yml
Due: none

Fix empty data on MapTraceEvent
  deebot_client/map.py
  src/map.rs
  src/util.rs
  tests/test_map.py
Due: mypy, pylint

Apply suggestions from code review
  src/map.rs
  src/util.rs
Due: none

Add tests for invalid data
  src/map.rs
  tests/rs/test_map.py
Due: mypy

Update deebot_client/map.py
  deebot_client/map.py
Due: mypy, pylint

Log instead
  src/map.rs
  src/util.rs
  tests/rs/test_map.py
Due: mypy

Implement code review suggestion
  deebot_client/map.py
Due: mypy, pylint

Update src/map.rs
  src/map.rs
Due: none

Fix invalid codepilot suggestion
  src/map.rs
  tests/rs/test_map.py
Due: mypy

added inital api endpoint execute request change
  deebot_client/command.py
  deebot_client/commands/json/__init__.py
  deebot_client/commands/json/clean.py
  deebot_client/const.py
Due: mypy, pylint

rm symlink + use new body / header
  deebot_client/command.py
  deebot_client/hardware/deebot/2px96q.py
Due: mypy, pylint

use 'cleanv3'
  deebot_client/hardware/deebot/2px96q.py
Due: mypy, pylint

missed some
  deebot_client/hardware/deebot/2px96q.py
Due: mypy, pylint

correct path + command
  deebot_client/commands/json/clean.py
  deebot_client/const.py
Due: mypy, pylint

added other headers
  deebot_client/command.py
Due: mypy, pylint

debug auth json
  deebot_client/authentication.py
Due: mypy, pylint

another api required to get new auth token for control api
  deebot_client/command.py
  deebot_client/const.py
Due: mypy, pylint

begin adding new perms api
  deebot_client/authentication.py
Due: mypy, pylint

move credentials if statement
  deebot_client/authentication.py
Due: mypy, pylint

sst token
  deebot_client/authentication.py
  deebot_client/command.py
Due: mypy, pylint

added base url
  deebot_client/authentication.py
Due: mypy, pylint

added logging + corrected userid
  deebot_client/authentication.py
  deebot_client/command.py
Due: mypy, pylint

some fixes
  deebot_client/authentication.py
  deebot_client/command.py
Due: mypy, pylint

updating error checking
  deebot_client/authentication.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: ^tests/.+
