Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: Check with mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: Check with pylint
  entry: scripts/run-in-env.sh pylint
  language: script
  require_serial: true

Update water_info.py
  deebot_client/commands/json/water_info.py
Due: mypy, pylint

Update water_info.py hopefully now right :(
  deebot_client/commands/json/water_info.py
Due: mypy, pylint

Add command response
  deebot_client/command.py
  deebot_client/commands/json/life_span.py
  deebot_client/commands/json/pos.py
  deebot_client/device.py
  deebot_client/exceptions.py
  deebot_client/message.py
  tests/commands/__init__.py
  tests/commands/json/__init__.py
  tests/commands/json/test_life_span.py
  tests/commands/json/test_pos.py
Due: mypy, pylint

Update tests/commands/json/test_pos.py
  tests/commands/json/test_pos.py
Due: mypy

Update deebot_client/exceptions.py
  deebot_client/exceptions.py
Due: mypy, pylint

Update deebot_client/events/__init__.py
  deebot_client/events/__init__.py
Due: mypy, pylint

Fix execute_command calls.
  README.md
  deebot_client/device.py
  deebot_client/event_bus.py
  tests/test_event_bus.py
Due: mypy, pylint

Update test_water_info.py changed SweepType from var to payload
  tests/commands/json/test_water_info.py
Due: mypy

Fix execute_command calls in map.py
  deebot_client/map.py
Due: mypy, pylint

Update test_water_info.py
  tests/commands/json/test_water_info.py
Due: mypy

Add cut direction for lawn mower
  deebot_client/capabilities.py
  deebot_client/commands/json/__init__.py
  deebot_client/commands/json/cut_direction.py
  deebot_client/events/__init__.py
  deebot_client/hardware/deebot/5xu9h3.py
  tests/commands/json/test_cut_direction.py
  tests/hardware/test_init.py
Due: mypy, pylint

Fix test name
  tests/commands/json/test_cut_direction.py
Due: mypy

Change response format
  deebot_client/command.py
  deebot_client/commands/json/life_span.py
  deebot_client/commands/json/pos.py
  deebot_client/device.py
  deebot_client/event_bus.py
  deebot_client/exceptions.py
  deebot_client/map.py
  deebot_client/message.py
  tests/commands/json/test_common.py
  tests/commands/json/test_life_span.py
  tests/commands/json/test_pos.py
  tests/test_command.py
  tests/test_event_bus.py
Due: mypy, pylint

Fix docker in tests
  tests/fixtures/base.py
Due: mypy

Refactor
  README.md
  deebot_client/command.py
  deebot_client/commands/json/clean.py
  deebot_client/device.py
  deebot_client/event_bus.py
  deebot_client/map.py
  tests/commands/__init__.py
  tests/commands/json/test_common.py
  tests/commands/json/test_life_span.py
  tests/commands/json/test_pos.py
  tests/test_command.py
  tests/test_device.py
  tests/test_event_bus.py
Due: mypy, pylint

Fix docker in tests (#515)
  tests/fixtures/base.py
Due: mypy

Remove README.md error.
  README.md
Due: none

Path conditions:
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: ^tests/.+
