Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: Check with mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: Check with pylint
  entry: scripts/run-in-env.sh pylint
  language: script
  require_serial: true

Add new command: "Efficiency" (#346)
  deebot_client/capabilities.py
  deebot_client/commands/json/__init__.py
  deebot_client/commands/json/efficiency.py
  deebot_client/events/__init__.py
  deebot_client/events/efficiency_mode.py
  tests/commands/json/test_efficiency.py
Due: mypy, pylint

Add new command: "VoiceAssistantState" (#347)
  deebot_client/capabilities.py
  deebot_client/commands/json/__init__.py
  deebot_client/commands/json/voice_assistant_state.py
  deebot_client/events/__init__.py
  tests/commands/json/test_voice_assistant_state.py
Due: mypy, pylint

remove duplicated code
  tests/commands/__init__.py
  tests/commands/json/__init__.py
  tests/commands/xml/__init__.py
Due: mypy

feat: add command AutoEmpty
  deebot_client/capabilities.py
  deebot_client/commands/json/__init__.py
  deebot_client/commands/json/auto_empty.py
  deebot_client/events/__init__.py
  deebot_client/events/auto_empty.py
  deebot_client/util.py
Due: mypy, pylint

refactor: change/update for renamed commands
  deebot_client/commands/json/auto_empty.py
Due: mypy, pylint

Combine SetAutoEmpty and SetAutoEmptyMode
  deebot_client/capabilities.py
  deebot_client/commands/json/__init__.py
  deebot_client/commands/json/auto_empty.py
Due: mypy, pylint

feat: add test
  tests/commands/json/test_auto_empty.py
  tests/helpers/__init__.py
Due: mypy

feat: add bot p95mgv definition - Deebot T10
  deebot_client/capabilities.py
  deebot_client/hardware/deebot/p95mgv.py
Due: mypy, pylint

refactor: extend error codes for '312' - Please replace the Dust Bag.
  deebot_client/commands/json/error.py
Due: mypy, pylint

feat: add test for p95mgv
  tests/hardware/test_init.py
Due: mypy

Add capabilities for Deebot T10 Plus (p95mgv) (#353)
  deebot_client/capabilities.py
  deebot_client/commands/json/error.py
  deebot_client/hardware/deebot/p95mgv.py
  tests/hardware/test_init.py
Due: mypy, pylint

Update requirements-test.txt
  requirements-test.txt
Due: none

fix import
  tests/commands/json/test_clean.py
Due: mypy

Replace black by ruff
  .pre-commit-config.yaml
  deebot_client/mqtt_client.py
  pyproject.toml
Due: mypy, pylint

rename todo
  deebot_client/authentication.py
  deebot_client/commands/json/map.py
  deebot_client/event_bus.py
  deebot_client/map.py
  tests/commands/json/test_map.py
Due: mypy, pylint

fix rule FBT003
  deebot_client/authentication.py
  deebot_client/command.py
  deebot_client/commands/json/battery.py
  deebot_client/commands/json/map.py
  deebot_client/commands/json/water_info.py
  deebot_client/device.py
  deebot_client/events/__init__.py
  deebot_client/events/map.py
  deebot_client/events/water_info.py
  deebot_client/hardware/deebot/fallback.py
  deebot_client/hardware/deebot/p1jij8.py
  deebot_client/hardware/deebot/p95mgv.py
  deebot_client/hardware/deebot/yna5xi.py
  tests/commands/json/test_common.py
  tests/commands/json/test_map.py
  tests/commands/json/test_water_info.py
  tests/hardware/test_init.py
  tests/test_authentication.py
  tests/test_device.py
  tests/test_event_bus.py
  tests/test_mqtt_client.py
Due: mypy, pylint

Fix ANN rule findings
  .pre-commit-config.yaml
  deebot_client/api_client.py
  deebot_client/authentication.py
  deebot_client/command.py
  deebot_client/device.py
  deebot_client/event_bus.py
  deebot_client/map.py
  deebot_client/models.py
  deebot_client/mqtt_client.py
  deebot_client/util.py
  pyproject.toml
Due: mypy, pylint

fix FBT rule findings
  deebot_client/commands/json/common.py
  tests/commands/json/__init__.py
  tests/commands/json/test_advanced_mode.py
  tests/commands/json/test_carpet.py
  tests/commands/json/test_clean_preference.py
  tests/commands/json/test_common.py
  tests/commands/json/test_continuous_cleaning.py
  tests/commands/json/test_mulitmap_state.py
  tests/commands/json/test_true_detect.py
  tests/commands/json/test_voice_assistant_state.py
  tests/fixtures/base.py
  tests/test_mqtt_client.py
Due: mypy, pylint

fix RUF rule findings
  deebot_client/command.py
  deebot_client/commands/json/clean_count.py
  deebot_client/commands/json/common.py
  deebot_client/commands/json/efficiency.py
  deebot_client/commands/json/fan_speed.py
  deebot_client/commands/json/life_span.py
  deebot_client/commands/json/map.py
  deebot_client/commands/json/volume.py
  deebot_client/commands/json/water_info.py
  deebot_client/commands/json/work_mode.py
  deebot_client/logging_filter.py
  deebot_client/util.py
  tests/fixtures/base.py
  tests/test_command.py
Due: mypy, pylint

fix EM rule findings
  deebot_client/api_client.py
  deebot_client/authentication.py
  deebot_client/command.py
  deebot_client/models.py
  deebot_client/util.py
  tests/fixtures/base.py
Due: mypy, pylint

fix PERF rule findings
  deebot_client/commands/json/map.py
  deebot_client/commands/json/pos.py
  deebot_client/event_bus.py
  deebot_client/map.py
  deebot_client/mqtt_client.py
  tests/messages/test_messages.py
Due: mypy, pylint

disbale pre-commit ci autofix
  .pre-commit-config.yaml
Due: none

fix UP rule findings
  deebot_client/logging_filter.py
  deebot_client/mqtt_client.py
Due: mypy, pylint

fix ruff findings
  deebot_client/map.py
  deebot_client/models.py
Due: mypy, pylint

Fix INP and S ruff rule findings
  deebot_client/commands/json/__init__.py
  deebot_client/commands/xml/__init__.py
  deebot_client/util.py
  tests/fixtures/__init__.py
Due: mypy, pylint

fix TCH rule findings
  deebot_client/device.py
  deebot_client/mqtt_client.py
  deebot_client/util.py
  tests/fixtures/base.py
Due: mypy, pylint

fix ARG rule findings
  deebot_client/commands/json/common.py
  deebot_client/commands/json/map.py
  tests/test_command.py
Due: mypy, pylint

fix D202
  deebot_client/commands/json/clean.py
  deebot_client/commands/json/clean_count.py
  deebot_client/commands/json/network.py
  deebot_client/commands/json/volume.py
  deebot_client/events/map.py
Due: mypy, pylint

assert CommandResult
  tests/commands/json/__init__.py
  tests/commands/json/test_charge.py
  tests/commands/json/test_clean_log.py
  tests/commands/json/test_custom.py
  tests/commands/json/test_map.py
Due: mypy

add ruff format extension
  .devcontainer.json
Due: none

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Due: none

Create 85nbtp.py
  deebot_client/hardware/deebot/85nbtp.py
Due: mypy, pylint

fix PGH rule findings
  deebot_client/commands/json/common.py
Due: mypy, pylint

fix format
  deebot_client/commands/json/__init__.py
Due: mypy, pylint

Activate most ruff rules
  pyproject.toml
Due: none

fix symbolic link
  deebot_client/hardware/deebot/85nbtp.py
Due: mypy, pylint

Add capabilities for Deebot Teo Omni (#359)
  deebot_client/hardware/deebot/85nbtp.py
Due: mypy, pylint

Use compatible release specifier
  requirements.txt
Due: none

[Snyk] Security upgrade aiohttp from 3.8.6 to 3.9.0 (#358)
  requirements.txt
Due: none

Path conditions:
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: ^tests/.+
