Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  skip:
    # This steps run in the ci workflow. Keep in sync
    - mypy
    - pylint
    - verifyNoGetLogger

default_language_version:
  python: python3.13

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --unsafe-fixes
      - id: ruff-format
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args:
          - --py312-plus
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=deebot
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
          - --exclude-file=deebot_client/util/continents.py
        exclude_types:
          - csv
          - json
        exclude: ^uv.lock$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: [--branch, main, --branch, dev]
      - id: requirements-txt-fixer
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.2.4
          - prettier-plugin-sort-json@3.1.0
        exclude_types:
          - python
        exclude: ^uv.lock$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: Check with mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types:
          - python
        require_serial: true
      - id: pylint
        name: Check with pylint
        entry: scripts/run-in-env.sh pylint
        language: script
        types:
          - python
        require_serial: true
        exclude: ^tests/.+
      - id: verifyNoGetLogger
        name: Verify no getLogger usages
        entry: scripts/check_getLogger.sh
        language: script
        require_serial: true

Optimize code
  src/map/background_image.rs
  src/map/map_info.rs
  src/map/points.rs
Due: none

Enable map info for N20 and N20 Pro Plus
  deebot_client/hardware/kr0277.py
  deebot_client/hardware/qhe2o2.py
Due: mypy, pylint

Make code rust 1.87.0 compatible
  src/map/map_info.rs
Due: none

Specifiy rust version
  Cargo.toml
  src/map/map_info.rs
Due: none

Benchmark messages
  tests/__init__.py
  tests/messages/__init__.py
  tests/messages/json/__init__.py
  tests/messages/json/map/test_cached_map_info.py
  tests/messages/json/map/test_init.py
  tests/messages/json/test_auto_empty.py
  tests/messages/json/test_battery.py
  tests/messages/json/test_gps_position.py
  tests/messages/json/test_station_state.py
  tests/messages/json/test_stats.py
  tests/messages/json/test_work_state.py
  tests/messages/xml/__init__.py
  tests/messages/xml/test_battery.py
  tests/messages/xml/test_charge_state.py
  tests/messages/xml/test_clean.py
  tests/messages/xml/test_common.py
  tests/messages/xml/test_map.py
  tests/messages/xml/test_pos.py
Due: mypy

Fix import
  tests/__init__.py
Due: mypy

Add WASH_MOP constant to command module
  deebot_client/commands/__init__.py
Due: mypy, pylint

Add fd60kt.py by copying 9eamof.py
  deebot_client/hardware/fd60kt.py
Due: mypy, pylint

Modify fd60kt.py to match T50 OMNI
  deebot_client/hardware/fd60kt.py
Due: mypy, pylint

Replace pre-commit with prek
  .github/workflows/ci.yml
  pyproject.toml
  scripts/setup.sh
  uv.lock
Due: none

Use action
  .github/workflows/ci.yml
Due: none

Use active maintained prettier-mirror
  .pre-commit-config.yaml
Due: none

Prevent old pyo3-log version
  Cargo.toml
Due: none

Remove background image rotation and change rotation angle to enum
  deebot_client/commands/xml/map.py
  deebot_client/events/map.py
  deebot_client/map.py
  deebot_client/messages/json/map/cached_map_info.py
  deebot_client/rs/map.pyi
  src/map/background_image.rs
  src/map/map_info.rs
  src/map/mod.rs
  src/map/points.rs
  tests/__init__.py
  tests/__snapshots__/test_map.ambr
  tests/commands/json/map/test_cached_map_info.py
  tests/commands/xml/test_map.py
  tests/data/map/test_1.py
  tests/data/map/test_3.py
  tests/messages/json/map/test_cached_map_info.py
  tests/test_map.py
Due: mypy, pylint

Change warning call
  src/map/mod.rs
Due: none

Add SetAutoEmpty2 command class for auto empty
  deebot_client/commands/json/auto_empty.py
Due: mypy, pylint

Add MANUAL option to AutoEmptyEvent
  deebot_client/events/auto_empty.py
Due: mypy, pylint

More CR fixes
  src/map/mod.rs
  tests/commands/json/map/test_cached_map_info.py
  tests/messages/json/map/test_cached_map_info.py
Due: mypy

modify auto_empty.py
  deebot_client/commands/json/auto_empty.py
Due: mypy, pylint

fix invalid character
  deebot_client/commands/json/auto_empty.py
Due: mypy, pylint

auto_empty.py を更新
  deebot_client/commands/json/auto_empty.py
Due: mypy, pylint

fix code
  deebot_client/commands/json/auto_empty.py
Due: mypy, pylint

Add tests
  tests/commands/json/test_auto_empty.py
Due: mypy

test_auto_empty.py を更新
  tests/commands/json/test_auto_empty.py
Due: mypy

Add support for colorized rooms
  src/map/map_info.rs
  src/map/mod.rs
  src/map/style.rs
  tests/__snapshots__/test_map.ambr
Due: none

Drop Python 3.13 and use 3.14 as default
  .devcontainer.json
  .github/workflows/ci.yml
  .python-version
  mypy.ini
  pyproject.toml
  uv.lock
Due: none

CR Comments
  src/map/map_info.rs
  src/map/mod.rs
  src/map/style.rs
Due: none

Added more room colors + change walls to gray
  src/map/map_info.rs
  src/map/style.rs
  tests/__snapshots__/test_map.ambr
Due: none

refactor styles with macros
  Cargo.lock
  Cargo.toml
  src/map/map_info.rs
  src/map/mod.rs
  src/map/style.rs
  tests/__snapshots__/test_map.ambr
Due: none
