Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: Check with mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: Check with pylint
  entry: scripts/run-in-env.sh pylint
  language: script
  require_serial: true

run mypy directly
  .github/workflows/ci.yml
Due: none

feat(55uoqe): add error code 323 for dirty water tank status and update clean commands to use v1 capabilities
  deebot_client/const.py
  deebot_client/hardware/deebot/55uoqe.py
Due: mypy, pylint

feat(55uoqe): update capabilities to include child lock and true detect features, and fix clean info retrieval
  deebot_client/hardware/deebot/55uoqe.py
Due: mypy, pylint

fix(55uoqe): remove unsupported capabilities and options
  deebot_client/hardware/deebot/55uoqe.py
Due: mypy, pylint

feat(station): add command and statuses for mop drying and base cleaning
  deebot_client/commands/__init__.py
  deebot_client/events/station.py
Due: mypy, pylint

feat(55uoqe): add new station actions for drying mop and cleaning base
  deebot_client/hardware/deebot/55uoqe.py
Due: mypy, pylint

feat(station): handle mop drying station state
  deebot_client/messages/json/station_state.py
Due: mypy, pylint

feat(vacuum): add support for border spin capability
  deebot_client/capabilities.py
  deebot_client/commands/json/__init__.py
  deebot_client/commands/json/border_spin.py
  deebot_client/events/__init__.py
  deebot_client/events/station.py
  deebot_client/hardware/deebot/55uoqe.py
Due: mypy, pylint

Use renovate to update pre-commit
  .github/renovate.json
Due: none

fix
  .github/workflows/ci.yml
Due: none

Run pre-commit in github actions
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

fix ci job
  .github/workflows/ci.yml
Due: none

Optimize job
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

Name job
  .github/workflows/ci.yml
Due: none

set compression to balanced
  src/map.rs
  tests/data/map/test_1.py
Due: mypy

Fix custom
  deebot_client/commands/json/custom.py
Due: mypy, pylint

Create device authenticator if needed
  deebot_client/authentication.py
  deebot_client/capabilities.py
  deebot_client/device.py
  deebot_client/hardware/deebot/2px96q.py
  tests/conftest.py
  tests/test_device.py
Due: mypy, pylint

Fix
  Cargo.lock
  Cargo.toml
Due: none

Fix bugs introduced with #1103
  deebot_client/command.py
  tests/test_command.py
Due: mypy, pylint

Create n0vyif.py
  deebot_client/hardware/deebot/n0vyif.py
Due: mypy, pylint

Update n0vyif.py
  deebot_client/hardware/deebot/n0vyif.py
Due: mypy, pylint

Update __init__.py
  deebot_client/events/__init__.py
Due: mypy, pylint

Fix pytest discovery in vscode
  tests/test_map.py
Due: mypy

Update tests/test_map.py
  tests/test_map.py
Due: mypy

Add support of custom water amount to X9
  deebot_client/hardware/deebot/ilt3k8.py
Due: mypy, pylint

Update vsc5ia.py
  deebot_client/hardware/deebot/vsc5ia.py
Due: mypy, pylint

Add support for WorkState messages
  deebot_client/commands/json/work_state.py
  deebot_client/events/station.py
  deebot_client/hardware/deebot/ilt3k8.py
  deebot_client/messages/json/__init__.py
  deebot_client/messages/json/work_state.py
  tests/commands/json/test_work_state.py
  tests/messages/__init__.py
  tests/messages/json/test_work_state.py
Due: mypy, pylint

Add tests when state object are missing
  tests/commands/json/test_work_state.py
  tests/messages/json/test_work_state.py
Due: mypy

Support for Deebot X8 PRO OMNI
  deebot_client/hardware/deebot/n0vyif.py
Due: mypy, pylint

Deebot X8 Omni Pro
  deebot_client/hardware/deebot/n0vyif.py
Due: mypy, pylint

Rename station state enum members
  deebot_client/events/station.py
  deebot_client/messages/json/station_state.py
  deebot_client/messages/json/work_state.py
  tests/commands/json/test_station_state.py
  tests/commands/json/test_work_state.py
  tests/messages/json/test_station_state.py
  tests/messages/json/test_work_state.py
Due: mypy, pylint

Fix devcontainer
  .devcontainer.json
Due: none

Fix test
  tests/test_device.py
Due: mypy

Use pytest-xdist to improve test execution
  .github/workflows/ci.yml
  ci/entrypoint.sh
  pyproject.toml
  tests/messages/xml/test_clean.py
  tests/messages/xml/test_map.py
  tests/messages/xml/test_pos.py
  uv.lock
Due: mypy

make set capability required
  deebot_client/capabilities.py
  deebot_client/commands/json/map.py
  deebot_client/commands/xml/map.py
  deebot_client/hardware/deebot/2pv572.py
Due: mypy, pylint

fix lock file
  uv.lock
Due: none

Add job for branch protection
  .github/workflows/ci.yml
Due: none

Path conditions:
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: ^tests/.+
