Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  skip:
    # This steps run in the ci workflow. Keep in sync
    - mypy
    - pylint
    - verifyNoGetLogger

default_language_version:
  python: python3.10

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args:
          - --py310-plus
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
        args:
          - --quiet
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,deebot
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types:
          - csv
          - json
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.6.0
          - pydocstyle==6.1.1
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=bandit.yaml
  - repo: https://github.com/PyCQA/isort
    rev: 5.11.4
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
      - id: requirements-txt-fixer
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.4
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.7.1
          - prettier-plugin-sort-json@0.0.3
        exclude_types:
          - python
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.28.0
    hooks:
      - id: yamllint
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: Check with mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types:
          - python
        require_serial: true
      - id: pylint
        name: Check with pylint
        entry: scripts/run-in-env.sh pylint
        language: script
        types:
          - python
        require_serial: true
        exclude: ^tests/.+
      - id: verifyNoGetLogger
        name: Verify no getLogger usages
        entry: scripts/check_getLogger.sh
        language: script
        require_serial: true

revert "moving check to the top"
  deebot_client/events/event_bus.py
Due: mypy, pylint

Split StatusEvent into AvailabilityEvent and StateEvent (#259)
  .devcontainer.json
  deebot_client/commands/battery.py
  deebot_client/commands/charge.py
  deebot_client/commands/charge_state.py
  deebot_client/commands/clean.py
  deebot_client/commands/common.py
  deebot_client/commands/error.py
  deebot_client/events/__init__.py
  deebot_client/events/const.py
  deebot_client/events/event_bus.py
  deebot_client/vacuum_bot.py
  tests/commands/test_charge.py
  tests/commands/test_charge_state.py
  tests/commands/test_clean.py
  tests/commands/test_common.py
  tests/conftest.py
  tests/events/test_event_bus.py
  tests/events/test_events.py
  tests/test_mqtt_client.py
  tests/test_vacuum_bot.py
Due: mypy, pylint

rename asyncio-mqtt to aiomqtt
  requirements.txt
Due: none

pin asyncio-mqtt to 0.16.1
  requirements.txt
Due: none

pin asyncio-mqtt to 0.16.1 (#270)
  requirements.txt
Due: none

update and rename asyncio-mqtt to aiomqtt
  deebot_client/mqtt_client.py
  requirements.txt
  tests/conftest.py
  tests/fixtures/base.py
  tests/fixtures/mqtt_server.py
  tests/test_mqtt_client.py
Due: mypy, pylint

remove EventListener
  deebot_client/events/event_bus.py
  deebot_client/map.py
  tests/conftest.py
  tests/events/test_event_bus.py
Due: mypy, pylint

improve event_bus tests
  tests/events/test_event_bus.py
Due: mypy

fix test_StateEvent
  tests/events/test_event_bus.py
Due: mypy

remove EventListener (#276)
  deebot_client/events/event_bus.py
  deebot_client/map.py
  tests/conftest.py
  tests/events/test_event_bus.py
Due: mypy, pylint

use taskgroup
  .pre-commit-config.yaml
  deebot_client/command.py
  deebot_client/events/event_bus.py
  deebot_client/map.py
  pylintrc
  setup.py
Due: mypy, pylint

fire MapChangedEvent on map changes
  deebot_client/events/map.py
  deebot_client/map.py
  deebot_client/util.py
  tests/test_map.py
Due: mypy, pylint

test OnChangedDict too
  tests/test_map.py
Due: mypy

skip test until upstream PR is merged
  tests/test_mqtt_client.py
Due: mypy

use taskgroup (#277)
  .pre-commit-config.yaml
  deebot_client/command.py
  deebot_client/events/event_bus.py
  deebot_client/map.py
  pylintrc
  setup.py
Due: mypy, pylint

update and rename asyncio-mqtt to aiomqtt (#275)
  deebot_client/mqtt_client.py
  requirements.txt
  tests/conftest.py
  tests/fixtures/base.py
  tests/fixtures/mqtt_server.py
  tests/test_mqtt_client.py
Due: mypy, pylint

fire MapChangedEvent on map changes (#278)
  deebot_client/events/map.py
  deebot_client/map.py
  deebot_client/util.py
  tests/test_map.py
Due: mypy, pylint

upgrade to pillow 10.0
  deebot_client/map.py
Due: mypy, pylint

map: fix divide-by-zero in dashed_line renderer
  deebot_client/map.py
Due: mypy, pylint

map: fix divide-by-zero in dashed_line renderer (#280)
  deebot_client/map.py
Due: mypy, pylint

update prettier
  .pre-commit-config.yaml
Due: none

change speed type of FanSpeedEvent
  deebot_client/commands/fan_speed.py
  deebot_client/events/__init__.py
  deebot_client/events/fan_speed.py
Due: mypy, pylint

adjust fan speed tests
  tests/commands/test_fan_speed.py
Due: mypy

MapChangedEvent needs debounce and not throttle
  deebot_client/events/event_bus.py
  deebot_client/events/map.py
  deebot_client/map.py
  tests/events/test_event_bus.py
  tests/test_map.py
Due: mypy, pylint

increase loops for performance test
  tests/test_map.py
Due: mypy

add teardown test
  tests/events/test_event_bus.py
Due: mypy

MapChangedEvent needs debounce and not throttle (#284)
  deebot_client/events/event_bus.py
  deebot_client/events/map.py
  deebot_client/map.py
  tests/events/test_event_bus.py
  tests/test_map.py
Due: mypy, pylint

improve event_bus debounce
  deebot_client/events/event_bus.py
  tests/events/test_event_bus.py
  tests/test_map.py
Due: mypy, pylint

improve event_bus debounce (#285)
  deebot_client/events/event_bus.py
  tests/events/test_event_bus.py
  tests/test_map.py
Due: mypy, pylint

change speed type of FanSpeedEvent (#281)
  deebot_client/commands/fan_speed.py
  deebot_client/events/__init__.py
  deebot_client/events/fan_speed.py
  tests/commands/test_fan_speed.py
Due: mypy, pylint

upgrade deps to meet version released in HA 2023.8
  requirements.txt
Due: none

upgrade deps to meet version released in HA 2023.8 (#286)
  requirements.txt
Due: none

use Trusted Publisher to deploy
  .github/workflows/python-publish.yml
Due: none

use Trusted Publisher to deploy (#287)
  .github/workflows/python-publish.yml
Due: none

Added uses_xml_protocal property
  deebot_client/models.py
Due: mypy, pylint

Added groundwork for handling XML based messages
  deebot_client/message.py
Due: mypy, pylint

Split up command sending in both XML and JSON paths
  deebot_client/command.py
Due: mypy, pylint

Added initial support for handling battery messages
  deebot_client/messages/battery.py
Due: mypy, pylint

Added xml_name property for XML based devices
  deebot_client/commands/battery.py
Due: mypy, pylint

Added Charge command for XML based devices
  deebot_client/commands/charge.py
Due: mypy, pylint
