Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: Check with mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: Check with pylint
  entry: scripts/run-in-env.sh pylint
  language: script
  require_serial: true

Add support for DEEBOT T9 AIVI
  deebot_client/hardware/deebot/659yh8.py
Due: mypy, pylint

Fix test
  tests/hardware/test_init.py
Due: mypy

Fix file - should be symlink, not text.
  deebot_client/hardware/b742vd.py
  deebot_client/hardware/deebot/b742vd.py
Due: mypy, pylint

Create 7bryc5.py
  deebot_client/hardware/deebot/7bryc5.py
Due: mypy, pylint

Change 659yh8.py to a symlink pointing to x5d34r.py
  deebot_client/hardware/deebot/659yh8.py
Due: mypy, pylint

Re-order list to be alphabetical.
  tests/hardware/test_init.py
Due: mypy

Add Support for Deebot N8+
  deebot_client/hardware/deebot/7bryc5.py
Due: mypy, pylint

Add Deebot OZMO T9 AIVI (#624)
  deebot_client/hardware/deebot/659yh8.py
  tests/hardware/test_init.py
Due: mypy, pylint

Create 8kwdb4.py
  deebot_client/hardware/deebot/8kwdb4.py
Due: mypy, pylint

Add Ozmo T8G support (b742vd) (#625)
  deebot_client/hardware/deebot/b742vd.py
  tests/hardware/test_init.py
Due: mypy, pylint

Add Support for Deebot N8+ (#628)
  deebot_client/hardware/deebot/7bryc5.py
  tests/hardware/test_init.py
Due: mypy, pylint

Update test_init.py
  tests/hardware/test_init.py
Due: mypy

Optimize CI
  .github/workflows/ci.yml
  mypy.ini
Due: none

Optimize CI (#631)
  .github/workflows/ci.yml
  mypy.ini
Due: none

Add support for Deebot T9 AIVI (8kwdb4) (#630)
  deebot_client/hardware/deebot/8kwdb4.py
  tests/hardware/test_init.py
Due: mypy, pylint

Added support for T9 PLUS um2ywg symlinking T8 AIVI
  deebot_client/hardware/deebot/um2ywg.py
Due: mypy, pylint

Added Support for Deebot N8 Pro
  deebot_client/hardware/deebot/snxbvc.py
Due: mypy, pylint

Create snxbvc.py
  deebot_client/hardware/deebot/snxbvc.py
Due: mypy, pylint

Create h18jkh.py
  deebot_client/hardware/deebot/h18jkh.py
Due: mypy, pylint

Create fqxoiu.py
  deebot_client/hardware/deebot/fqxoiu.py
Due: mypy, pylint

Link fqxoiu.py to x5d34r.py
  deebot_client/hardware/deebot/fqxoiu.py
Due: mypy, pylint

add fqxoiu to tests
  tests/hardware/test_init.py
Due: mypy

Add Deebot OZMO T8 Pure (0bdtzz)
  deebot_client/hardware/deebot/0bdtzz.py
  tests/hardware/test_init.py
Due: mypy, pylint

Added N8 Pro (snxbvc) to test_init.py
  tests/hardware/test_init.py
Due: mypy

Add Support for Deebot N8+ Black Variant
  deebot_client/hardware/deebot/b2jqs4.py
Due: mypy, pylint

Update test_init.py for Deebot N8+ Black variant
  tests/hardware/test_init.py
Due: mypy

Add Deebot N20 Plus with base station functions
  deebot_client/capabilities.py
  deebot_client/commands/json/__init__.py
  deebot_client/commands/json/station_action.py
  deebot_client/events/__init__.py
  deebot_client/hardware/deebot/buom7k.py
  deebot_client/messages/json/__init__.py
  deebot_client/messages/json/base_station.py
  tests/messages/test_get_messages.py
Due: mypy, pylint

Ruff Ruff
  deebot_client/commands/json/station_action.py
  deebot_client/events/__init__.py
  deebot_client/messages/json/__init__.py
Due: mypy, pylint

Expand messy code and avoid runtime errors
  deebot_client/messages/json/base_station.py
Due: mypy, pylint

ruff-format
  deebot_client/capabilities.py
  deebot_client/hardware/deebot/buom7k.py
Due: mypy, pylint

Add hardware id to tests
  tests/hardware/test_init.py
Due: mypy

Added 7j1tu6
  tests/hardware/test_init.py
Due: mypy

Add symlink for T9 (ucn2xe) pointing to T8 AIVI (x5d34r) and include it in the tests
  deebot_client/hardware/deebot/ucn2xe.py
  tests/hardware/test_init.py
Due: mypy, pylint

Add symlink for T20e Omni (py3qif) pointing to T20 Omni (p1jij8) and include it in the tests
  deebot_client/hardware/deebot/py3qif.py
  tests/hardware/test_init.py
Due: mypy, pylint

Fix some type errors
  deebot_client/commands/xml/life_span.py
Due: mypy, pylint

fix XML command "TypeError: 'classmethod' object is not callable"
  deebot_client/commands/xml/common.py
Due: mypy, pylint

Add XML command "GetLifeSpan"
  deebot_client/commands/xml/__init__.py
  deebot_client/commands/xml/life_span.py
  deebot_client/events/__init__.py
  tests/commands/xml/test_life_span.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: ^tests/.+
