Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  skip:
    # This steps run in the ci workflow. Keep in sync
    - mypy
    - pylint
    - verifyNoGetLogger

default_language_version:
  python: python3.13

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --unsafe-fixes
      - id: ruff-format
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args:
          - --py312-plus
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=deebot
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
          - --exclude-file=deebot_client/util/continents.py
        exclude_types:
          - csv
          - json
        exclude: ^uv.lock$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: [--branch, main, --branch, dev]
      - id: requirements-txt-fixer
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.2.4
          - prettier-plugin-sort-json@3.1.0
        exclude_types:
          - python
        exclude: ^uv.lock$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: Check with mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types:
          - python
        require_serial: true
      - id: pylint
        name: Check with pylint
        entry: scripts/run-in-env.sh pylint
        language: script
        types:
          - python
        require_serial: true
        exclude: ^tests/.+
      - id: verifyNoGetLogger
        name: Verify no getLogger usages
        entry: scripts/check_getLogger.sh
        language: script
        require_serial: true

Fix lint errors
  deebot_client/hardware/deebot/co3fyu.py
Due: mypy, pylint

use version instead main
  .github/workflows/ci.yml
Due: none

Added MapInfoV2Event
  deebot_client/events/__init__.py
  deebot_client/events/map.py
Due: mypy, pylint

Hide error for T80 on MajorMap
  deebot_client/commands/json/map.py
Due: mypy, pylint

Added GetMapInfoV2 command
  deebot_client/commands/json/map.py
Due: mypy, pylint

Added `MapV2` class for maps based on `MapInfoV2`
  deebot_client/map.py
  pyproject.toml
Due: mypy, pylint

Prefer `MapV2` when `map_info` capability is available
  deebot_client/capabilities.py
  deebot_client/device.py
Due: mypy, pylint

Switch T80 map to `MapV2`
  deebot_client/hardware/deebot/9eamof.py
Due: mypy, pylint

Remove pylint
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  deebot_client/authentication.py
  deebot_client/command.py
  deebot_client/commands/json/clean_logs.py
  deebot_client/commands/json/map.py
  deebot_client/commands/xml/clean_logs.py
  deebot_client/commands/xml/map.py
  deebot_client/const.py
  deebot_client/device.py
  deebot_client/event_bus.py
  deebot_client/map.py
  deebot_client/message.py
  deebot_client/messages/__init__.py
  deebot_client/mqtt_client.py
  pyproject.toml
Due: mypy, pylint

Activate ruff DTZ rules
  deebot_client/commands/json/common.py
  deebot_client/device.py
  deebot_client/mqtt_client.py
  pyproject.toml
  tests/fixtures/base.py
  tests/mqtt_util.py
  tests/test_mqtt_client.py
Due: mypy, pylint

Activate ruff A rules
  deebot_client/commands/json/map.py
  deebot_client/commands/xml/map.py
  pyproject.toml
  scripts/check_for_similar_models.py
  tests/commands/json/test_map.py
  tests/messages/json/test_map.py
  tests/rs/test_util.py
  tests/test_map.py
  tests/test_message.py
Due: mypy, pylint

Enable ruff TRY rules
  deebot_client/authentication.py
  deebot_client/command.py
  deebot_client/commands/xml/clean_logs.py
  deebot_client/message.py
  pyproject.toml
Due: mypy, pylint

Fix GetMajoMap KeyError
  deebot_client/commands/json/map.py
  tests/commands/json/test_map.py
Due: mypy, pylint

update lock file
  uv.lock
Due: none

Fix
  deebot_client/authentication.py
Due: mypy, pylint

Fix pre-commit findings
  deebot_client/authentication.py
  deebot_client/command.py
  deebot_client/commands/json/clean.py
  deebot_client/commands/json/error.py
Due: mypy, pylint

Create DeviceAuthenticator
  deebot_client/authentication.py
  deebot_client/command.py
  deebot_client/commands/json/__init__.py
  deebot_client/commands/json/clean.py
  deebot_client/commands/json/common.py
  deebot_client/commands/json/error.py
  deebot_client/commands/xml/common.py
  deebot_client/const.py
  deebot_client/hardware/deebot/2px96q.py
  scripts/check_for_similar_models.py
  tests/commands/__init__.py
  tests/commands/json/test_clean_log.py
  tests/commands/json/test_common.py
  tests/conftest.py
  tests/test_authentication.py
  tests/test_command.py
Due: mypy, pylint

formatting
  deebot_client/command.py
  tests/commands/__init__.py
  tests/conftest.py
Due: mypy, pylint

Refactor map test
  tests/__init__.py
  tests/data/map/__init__.py
  tests/data/map/test_1.py
  tests/test_map.py
Due: mypy

Add models by similarity
  deebot_client/hardware/deebot/4bx3w9.py
  deebot_client/hardware/deebot/9akc61.py
  deebot_client/hardware/deebot/emzppx.py
  deebot_client/hardware/deebot/k8qkc7.py
  deebot_client/hardware/deebot/neiwny.py
  deebot_client/hardware/deebot/ohjbzz.py
  deebot_client/hardware/deebot/r0321c.py
  deebot_client/hardware/deebot/ulzked.py
  deebot_client/hardware/deebot/uzel1r.py
  deebot_client/hardware/deebot/viq3mw.py
  deebot_client/hardware/deebot/vsc5ia.py
  deebot_client/hardware/deebot/x9ugz3.py
Due: mypy, pylint

Fix CI
  deebot_client/hardware/deebot/9eamof.py
  pyproject.toml
  uv.lock
Due: mypy, pylint

Add device_class and include it in the name
  tests/__init__.py
  tests/conftest.py
  tests/data/map/test_1.py
  tests/hardware/test_init.py
  tests/test_map.py
Due: mypy

revert
  tests/hardware/test_init.py
Due: mypy

Keep test history
  tests/test_map.py
Due: mypy

Fix wrong content type
  deebot_client/authentication.py
  pyproject.toml
Due: mypy, pylint

Fix mypy issue
  deebot_client/map.py
Due: mypy, pylint

Add customWaterAmount
  deebot_client/capabilities.py
  deebot_client/commands/json/water_info.py
  deebot_client/events/water_info.py
  deebot_client/hardware/deebot/xco2fc.py
Due: mypy, pylint

feat(hardware): add additional lifespan capabilities
  deebot_client/hardware/deebot/55uoqe.py
Due: mypy, pylint

add additional bot settings and use v2 where possible
  deebot_client/hardware/deebot/55uoqe.py
Due: mypy, pylint

Adjust SetWaterInfo
  deebot_client/commands/json/water_info.py
  deebot_client/events/water_info.py
  deebot_client/hardware/deebot/xco2fc.py
  tests/commands/json/test_water_info.py
Due: mypy, pylint

use dedicated event
  deebot_client/capabilities.py
  deebot_client/commands/json/water_info.py
  deebot_client/events/water_info.py
  deebot_client/hardware/deebot/xco2fc.py
  tests/commands/json/test_water_info.py
Due: mypy, pylint

Log device class on some command log entries
  deebot_client/command.py
Due: mypy, pylint

feat: support x9 pro omni
  deebot_client/events/__init__.py
  deebot_client/hardware/deebot/ilt3k8.py
Due: mypy, pylint

Add support for X9 Pro (lwmdoj)
  deebot_client/hardware/deebot/lwmdoj.py
Due: mypy, pylint

feat(errors): map 322 error
  deebot_client/const.py
Due: mypy, pylint

feat(55uoqe): add support for Omni station
  deebot_client/hardware/deebot/55uoqe.py
Due: mypy, pylint

fix(55uoqe): fix get lifespan list
  deebot_client/hardware/deebot/55uoqe.py
Due: mypy, pylint

Use exact installed python version
  .github/workflows/ci.yml
Due: none

Optimize CI python code style job
  .github/workflows/ci.yml
Due: none

cache all crates
  .github/workflows/ci.yml
Due: none
