Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: Check with mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: Check with pylint
  entry: scripts/run-in-env.sh pylint
  language: script
  require_serial: true

next
  .github/workflows/ci.yml
Due: none

fix
  .github/workflows/ci.yml
Due: none

Commit back in CI
  .github/workflows/ci.yml
Due: none

Delete source files
  .github/workflows/ci.yml
Due: none

remove ls
  .github/workflows/ci.yml
Due: none

Use custom profile
  .github/workflows/ci.yml
  Cargo.toml
Due: none

for test only
  .github/workflows/ci.yml
Due: none

next
  Cargo.toml
Due: none

test
  pyproject.toml
Due: none

Remove strip
  Cargo.toml
  pyproject.toml
Due: none

revert ci test only changes
  .github/workflows/ci.yml
Due: none

Optimize util
  src/util.rs
Due: none

Optimize map
  src/map.rs
Due: none

Refactor more
  src/map.rs
Due: none

Run benchmark directly after the tests
  .github/workflows/ci.yml
Due: none

Optimize further
  src/map.rs
Due: none

Create poke1m.py
  deebot_client/hardware/deebot/poke1m.py
Due: mypy, pylint

Add missing tests
  src/map.rs
Due: none

fix symbol link
  deebot_client/hardware/deebot/poke1m.py
Due: mypy, pylint

add support for t80 Omni - 9eamof
  deebot_client/hardware/deebot/9eamof.py
Due: mypy, pylint

fixed symbolic link
  deebot_client/hardware/deebot/9eamof.py
Due: mypy, pylint

Add basic support for T80 Omni (9eamof)
  deebot_client/hardware/deebot/9eamof.py
Due: mypy, pylint

Fixes linter errors
  deebot_client/hardware/deebot/9eamof.py
Due: mypy, pylint

Fixes clippy::uninlined_format_args warning
  src/lib.rs
  src/map.rs
  src/util.rs
Due: none

Add Deebot 502
  deebot_client/hardware/deebot/r8ead0.py
Due: mypy, pylint

Ignore rule on line
  deebot_client/messages/__init__.py
Due: mypy, pylint

Fix ruff findings
  .pre-commit-config.yaml
  deebot_client/capabilities.py
  deebot_client/event_bus.py
  deebot_client/message.py
  deebot_client/util/__init__.py
  tests/util/test_enum.py
Due: mypy, pylint

Create co3fyu.py
  deebot_client/hardware/deebot/co3fyu.py
Due: mypy, pylint

fix: better T80 omni (02qwum) support based on 9eamof
  deebot_client/hardware/deebot/02qwum.py
Due: mypy, pylint

feat(hardware): add support for Deebot Mini
  deebot_client/hardware/deebot/55uoqe.py
Due: mypy, pylint

add GOAT A2500 RTK (neiwny) update GOAT O1200 RTK (qhq6i0)
  deebot_client/hardware/deebot/neiwny.py
Due: mypy, pylint

Add support for DEEBOT OZMO T5 Hero
  deebot_client/hardware/deebot/eazo2f.py
Due: mypy, pylint

chore: add cleaning solution parsing
  deebot_client/events/__init__.py
  deebot_client/hardware/deebot/9eamof.py
  tests/commands/json/test_life_span.py
Due: mypy, pylint

chore: add sewage box parsing
  deebot_client/events/__init__.py
  deebot_client/hardware/deebot/9eamof.py
  tests/commands/json/test_life_span.py
Due: mypy, pylint

add support for deebot 605
  deebot_client/hardware/deebot/dl8fht.py
Due: mypy, pylint

Fix PositionType test coverage
  tests/rs/test_map.py
Due: mypy

fix
  .codecov.yml
Due: none

Fix symbolic link
  deebot_client/hardware/deebot/eazo2f.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: ^tests/.+
