Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: Check with mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: Check with pylint
  entry: scripts/run-in-env.sh pylint
  language: script
  require_serial: true

Add support for (get|set)TrueDetect
  deebot_client/commands/__init__.py
  deebot_client/commands/true_detect.py
  deebot_client/events/__init__.py
  deebot_client/events/const.py
  tests/commands/test_true_detect.py
Due: mypy, pylint

Add support for (get|set)CleanCount and (get|set)CleanPreference
  deebot_client/commands/__init__.py
  deebot_client/commands/clean_count.py
  deebot_client/commands/clean_preference.py
  deebot_client/events/__init__.py
  deebot_client/events/const.py
  tests/commands/test_clean_count.py
  tests/commands/test_clean_preference.py
Due: mypy, pylint

docstrings
  deebot_client/commands/clean_count.py
  deebot_client/commands/clean_preference.py
  deebot_client/commands/true_detect.py
Due: mypy, pylint

fix mypy
  deebot_client/command.py
  deebot_client/commands/common.py
  deebot_client/util.py
Due: mypy, pylint

add devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  .pre-commit-config.yaml
  deebot_client/commands/map.py
  pyproject.toml
Due: mypy, pylint

update pre-commit
  .pre-commit-config.yaml
Due: none

add devcontainer (#164)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  .pre-commit-config.yaml
  deebot_client/commands/map.py
  pyproject.toml
Due: mypy, pylint

update pre-commit (#165)
  .pre-commit-config.yaml
Due: none

Add support for additional commands (#163)
  deebot_client/commands/__init__.py
  deebot_client/commands/clean_count.py
  deebot_client/commands/clean_preference.py
  deebot_client/commands/true_detect.py
  deebot_client/events/__init__.py
  deebot_client/events/const.py
  tests/commands/test_clean_count.py
  tests/commands/test_clean_preference.py
  tests/commands/test_true_detect.py
Due: mypy, pylint

improve devcontainer
  .devcontainer/devcontainer.json
  .gitignore
  .prettierrc
Due: none

fix: requirements-test.txt to reduce vulnerabilities
  requirements-test.txt
Due: none

Pylint disable not required anymore
  deebot_client/events/map.py
Due: mypy, pylint

remove lgtm
  README.md
Due: none

remove lgtm (#193)
  README.md
Due: none

[Snyk] Security upgrade setuptools from 39.0.1 to 65.5.1 (#191)
  requirements-test.txt
Due: none

update to python 3.11
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  .pre-commit-config.yaml
  mypy.ini
  pyproject.toml
Due: none

update workflows
  .github/workflows/ci.yml
  .github/workflows/python-publish.yml
Due: none

update to python 3.11 (#216)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/python-publish.yml
  .gitignore
  .pre-commit-config.yaml
  mypy.ini
  pyproject.toml
Due: none

add datetime of last received message from mqtt
  deebot_client/mqtt_client.py
Due: mypy, pylint

add tests
  .devcontainer/devcontainer.json
  deebot_client/mqtt_client.py
  tests/conftest.py
  tests/test_mqtt_client.py
Due: mypy, pylint

add datetime of last received message from mqtt (#217)
  .devcontainer/devcontainer.json
  deebot_client/mqtt_client.py
  tests/conftest.py
  tests/test_mqtt_client.py
Due: mypy, pylint

allow mop_attached to be None
  deebot_client/commands/water_info.py
  deebot_client/events/water_info.py
Due: mypy, pylint

add tests
  tests/commands/test_water_info.py
Due: mypy

allow mop_attached to be None (#219)
  deebot_client/commands/water_info.py
  deebot_client/events/water_info.py
  tests/commands/test_water_info.py
Due: mypy, pylint

minor improvements (#169)
  .devcontainer/devcontainer.json
  .gitignore
  .prettierrc
Due: none

rename assert_command_requested to assert_command
  tests/commands/__init__.py
  tests/commands/test_advanced_mode.py
  tests/commands/test_battery.py
  tests/commands/test_carpet.py
  tests/commands/test_charge.py
  tests/commands/test_charge_state.py
  tests/commands/test_clean.py
  tests/commands/test_clean_count.py
  tests/commands/test_clean_log.py
  tests/commands/test_clean_preference.py
  tests/commands/test_continuous_cleaning.py
  tests/commands/test_custom.py
  tests/commands/test_fan_speed.py
  tests/commands/test_life_span.py
  tests/commands/test_map.py
  tests/commands/test_mulitmap_state.py
  tests/commands/test_true_detect.py
  tests/commands/test_water_info.py
Due: mypy

improve assert_set_command
  tests/commands/__init__.py
  tests/commands/test_advanced_mode.py
  tests/commands/test_carpet.py
  tests/commands/test_clean_count.py
  tests/commands/test_clean_preference.py
  tests/commands/test_continuous_cleaning.py
  tests/commands/test_mulitmap_state.py
  tests/commands/test_true_detect.py
  tests/commands/test_water_info.py
Due: mypy

rename to __handle_response
  deebot_client/command.py
Due: mypy, pylint

rename to _handle_requested
  deebot_client/command.py
  deebot_client/commands/clean_logs.py
  deebot_client/commands/common.py
  deebot_client/commands/custom.py
  deebot_client/commands/map.py
Due: mypy, pylint

rename to NoArgsCommand
  deebot_client/commands/battery.py
  deebot_client/commands/charge_state.py
  deebot_client/commands/clean.py
  deebot_client/commands/clean_count.py
  deebot_client/commands/common.py
  deebot_client/commands/error.py
  deebot_client/commands/fan_speed.py
  deebot_client/commands/stats.py
  deebot_client/commands/volume.py
  deebot_client/commands/water_info.py
Due: mypy, pylint

throw ApiError instead of empty dict
  deebot_client/authentication.py
Due: mypy, pylint

resubscribe topic on (re)connect
  deebot_client/mqtt_client.py
Due: mypy, pylint

use MqttConnectionConfig for mqtt configuration
  README.md
  deebot_client/mqtt_client.py
Due: mypy, pylint

add mqtt reconnect tests
  pytest.ini
  requirements-test.txt
  tests/commands/__init__.py
  tests/conftest.py
  tests/fixtures/mqtt_server.py
  tests/test_mqtt_client.py
Due: mypy

improve mqtt client test coverage
  tests/test_mqtt_client.py
Due: mypy

adjust unsubsribe
  deebot_client/mqtt_client.py
Due: mypy, pylint

update devcontainer
  .devcontainer.json
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

rename initialize to connect
  README.md
  deebot_client/exceptions.py
  deebot_client/mqtt_client.py
  tests/conftest.py
  tests/fixtures/mqtt_server.py
  tests/test_mqtt_client.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: ^tests/.+
