Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: Check with mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: Check with pylint
  entry: scripts/run-in-env.sh pylint
  language: script
  require_serial: true

Add test for deebot_client.Map._get_svg_traces_path
  deebot_client/map.py
  tests/test_map.py
Due: mypy, pylint

Fix test_device.py
  tests/test_device.py
Due: mypy

Fix mqtt tests.
  tests/fixtures/base.py
Due: mypy

Revert and resolve conflict
  tests/fixtures/base.py
Due: mypy

Fix README.md
  README.md
Due: none

Fix typo in command.py docstring
  deebot_client/command.py
Due: mypy, pylint

Update deebot_client/map.py
  deebot_client/map.py
Due: mypy, pylint

Update tests/commands/__init__.py
  tests/commands/__init__.py
Due: mypy

Remove usefull tests
  tests/commands/__init__.py
  tests/commands/json/__init__.py
  tests/commands/json/test_life_span.py
  tests/commands/json/test_pos.py
Due: mypy

Add cut direction for lawn mower goat g1 (#514)
  deebot_client/capabilities.py
  deebot_client/commands/json/__init__.py
  deebot_client/commands/json/cut_direction.py
  deebot_client/events/__init__.py
  deebot_client/hardware/deebot/5xu9h3.py
  tests/commands/json/test_cut_direction.py
  tests/hardware/test_init.py
Due: mypy, pylint

Add command response (#513)
  deebot_client/command.py
  deebot_client/commands/json/clean.py
  deebot_client/device.py
  deebot_client/event_bus.py
  deebot_client/map.py
  tests/commands/__init__.py
  tests/commands/json/test_common.py
  tests/test_command.py
  tests/test_device.py
Due: mypy, pylint

Fix and improve
  deebot_client/command.py
  deebot_client/commands/json/water_info.py
  deebot_client/events/__init__.py
  deebot_client/events/water_info.py
  tests/commands/json/test_water_info.py
Due: mypy, pylint

Add sweep_type to WaterInfo event (#511)
  deebot_client/command.py
  deebot_client/commands/json/water_info.py
  deebot_client/events/__init__.py
  deebot_client/events/water_info.py
  tests/commands/json/test_water_info.py
Due: mypy, pylint

Apply suggestions from code review
  deebot_client/map.py
  tests/test_map.py
Due: mypy, pylint

Some optimations
  deebot_client/map.py
  tests/test_map.py
Due: mypy, pylint

Align viewbox center with vacuum map center (#433)
  deebot_client/map.py
  tests/test_map.py
Due: mypy, pylint

Refactor to have one Capabilities and a DeviceType
  deebot_client/capabilities.py
  deebot_client/hardware/deebot/2o4lnm.py
  deebot_client/hardware/deebot/5xu9h3.py
  deebot_client/hardware/deebot/9s1s80.py
  deebot_client/hardware/deebot/e6ofmn.py
  deebot_client/hardware/deebot/fallback.py
  deebot_client/hardware/deebot/p1jij8.py
  deebot_client/hardware/deebot/p95mgv.py
  deebot_client/hardware/deebot/umwv6z.py
  deebot_client/hardware/deebot/x5d34r.py
  deebot_client/hardware/deebot/yna5xi.py
Due: mypy, pylint

Remove unused generic
  deebot_client/api_client.py
  deebot_client/device.py
  deebot_client/hardware/deebot/__init__.py
  deebot_client/models.py
  tests/conftest.py
  tests/hardware/test_init.py
  tests/helpers/__init__.py
  tests/test_device.py
Due: mypy, pylint

Refactor to have one Capabilities and a DeviceType (#518)
  deebot_client/api_client.py
  deebot_client/capabilities.py
  deebot_client/device.py
  deebot_client/hardware/deebot/2o4lnm.py
  deebot_client/hardware/deebot/5xu9h3.py
  deebot_client/hardware/deebot/9s1s80.py
  deebot_client/hardware/deebot/__init__.py
  deebot_client/hardware/deebot/e6ofmn.py
  deebot_client/hardware/deebot/fallback.py
  deebot_client/hardware/deebot/p1jij8.py
  deebot_client/hardware/deebot/p95mgv.py
  deebot_client/hardware/deebot/umwv6z.py
  deebot_client/hardware/deebot/x5d34r.py
  deebot_client/hardware/deebot/yna5xi.py
  deebot_client/models.py
  tests/conftest.py
  tests/hardware/test_init.py
  tests/helpers/__init__.py
  tests/test_device.py
Due: mypy, pylint

Remove deprecated settings
  .devcontainer.json
Due: none

Remove deprecated settings (#525)
  .devcontainer.json
Due: none

fix: requirements-test.txt to reduce vulnerabilities
  requirements-test.txt
Due: none

Add support for s69g6z
  deebot_client/hardware/deebot/s69g6z.py
  tests/hardware/test_init.py
Due: mypy, pylint

Add support for s69g6z (Goat G1 2000) (#531)
  deebot_client/hardware/deebot/s69g6z.py
  tests/hardware/test_init.py
Due: mypy, pylint

Fix N10 Plus
  deebot_client/hardware/deebot/umwv6z.py
Due: mypy, pylint

Fix N10 Max+ Capabilities
  deebot_client/hardware/deebot/clojes.py
Due: mypy, pylint

Fix N10 Plus capabilities (#532)
  deebot_client/hardware/deebot/umwv6z.py
Due: mypy, pylint

Fix N10 Max+ Capabilities (#533)
  deebot_client/hardware/deebot/clojes.py
Due: mypy, pylint

Remove requests pinning
  requirements-test.txt
Due: none

Remove requests pinning (#534)
  requirements-test.txt
Due: none

Add Deebot N20
  deebot_client/hardware/deebot/kr0277.py
  tests/hardware/test_init.py
Due: mypy, pylint

Improve it
  deebot_client/capabilities.py
  deebot_client/hardware/deebot/kr0277.py
Due: mypy, pylint

Fix _calc_point called with a str value
  deebot_client/map.py
Due: mypy, pylint

Add test
  tests/test_map.py
Due: mypy

fix typing
  deebot_client/map.py
Due: mypy, pylint

Fix _calc_point called with a str value (#543)
  deebot_client/map.py
  tests/test_map.py
Due: mypy, pylint

Add Deebot N20 (#544)
  deebot_client/capabilities.py
  deebot_client/hardware/deebot/kr0277.py
  tests/hardware/test_init.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: ^tests/.+
