Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: Check with mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: Check with pylint
  entry: scripts/run-in-env.sh pylint
  language: script
  require_serial: true

fix
  deebot_client/commands/json/mop_auto_wash_frequency.py
Due: mypy, pylint

use syruppy for snapshots
  pyproject.toml
  tests/__snapshots__/test_map.ambr
  tests/data/map/test_1.py
  tests/data/map/test_2.py
  tests/data/map/test_3.py
  tests/data/map/test_4.py
  tests/test_map.py
  uv.lock
Due: mypy

Fix tests
  deebot_client/commands/json/mop_auto_wash_frequency.py
  tests/commands/json/test_mop_auto_wash_frequency.py
Due: mypy, pylint

fix
  uv.lock
Due: none

Remove test name workaround
  tests/test_map.py
Due: mypy

Fix virtualenv warning
  uv.lock
Due: none

feat(vacuum): add border spin command
  deebot_client/capabilities.py
  deebot_client/commands/json/__init__.py
  deebot_client/commands/json/border_spin.py
  deebot_client/events/__init__.py
  tests/commands/json/test_border_spin.py
Due: mypy, pylint

Reduce size by using svg styles
  src/map/map_info.rs
  src/map/mod.rs
  src/map/points.rs
  tests/__snapshots__/test_map.ambr
Due: none

fixed order
  Cargo.lock
  Cargo.toml
  src/map/mod.rs
  tests/__snapshots__/test_map.ambr
Due: none

Use path instead polygons
  src/map/map_info.rs
  src/map/mod.rs
  src/map/points.rs
  tests/__snapshots__/test_map.ambr
Due: none

Upgrade aarch macos to 15
  .github/workflows/ci.yml
Due: none

Use enum for MapInfoType
  src/map/map_info.rs
Due: none

add tests
  src/map/map_info.rs
Due: none

Use centralized styles
  Cargo.lock
  Cargo.toml
  src/map/map_info.rs
  src/map/mod.rs
  src/map/style.rs
  tests/__snapshots__/test_map.ambr
Due: none

fix
  src/map/style.rs
Due: none

Fix map for bots, which don't support BlockLine
  src/map/map_info.rs
  src/map/mod.rs
  src/map/points.rs
  src/map/style.rs
  tests/__snapshots__/test_map.ambr
Due: none

feat(station): add dry mop and clean base actions and drying status reporting
  deebot_client/commands/__init__.py
  deebot_client/messages/json/station_state.py
  tests/commands/json/test_station_action.py
  tests/commands/json/test_station_state.py
  tests/messages/json/test_station_state.py
Due: mypy, pylint

feat(hardware): improve Deebot Mini support
  deebot_client/const.py
  deebot_client/hardware/55uoqe.py
Due: mypy, pylint

Add models by similarity
  deebot_client/hardware/53qyvr.py
  deebot_client/hardware/q6pew4.py
  deebot_client/hardware/uuu4n6.py
  scripts/check_for_similar_models.py
Due: mypy, pylint

Add support for onMapInfo_V2 message
  deebot_client/messages/json/__init__.py
  deebot_client/messages/json/map/__init__.py
  tests/messages/json/map/test_init.py
Due: mypy, pylint

Add mop auto wash frequency to X9
  deebot_client/hardware/ilt3k8.py
Due: mypy, pylint

CR comments
  deebot_client/commands/json/map/__init__.py
  deebot_client/messages/json/map/__init__.py
  tests/messages/json/map/test_init.py
Due: mypy, pylint

build for Python 3.14 too
  .devcontainer.json
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Upgrade to Rust 2024
  Cargo.toml
  src/map/background_image.rs
  src/map/map_info.rs
  src/map/mod.rs
  src/map/points.rs
  src/util.rs
Due: none

Optimize rust code
  src/map/map_info.rs
  src/map/mod.rs
  src/map/points.rs
Due: none

Update src/map/mod.rs
  src/map/mod.rs
Due: none

Exclude deprecated HA architectures
  .github/workflows/ci.yml
Due: none

Upgrade macos intel runner
  .github/workflows/ci.yml
Due: none

fix
  .github/workflows/ci.yml
Due: none

Revert some optimizations
  src/map/map_info.rs
  src/map/mod.rs
Due: none

Cleanup cache for merged PRs
  .github/workflows/cleanup-cahce.yml
Due: none

Use commithash
  .github/workflows/ci.yml
Due: none

Update .github/workflows/cleanup-cahce.yml
  .github/workflows/cleanup-cahce.yml
Due: none

Typo
  .github/workflows/cleanup-cache.yml
Due: none

Fix merge
  .github/workflows/ci.yml
Due: none

Try
  .github/workflows/ci.yml
Due: none

Add support for map rotation
  deebot_client/events/map.py
  deebot_client/map.py
  deebot_client/messages/json/map/cached_map_info.py
  deebot_client/rs/map.pyi
  src/map/background_image.rs
  src/map/map_info.rs
  src/map/mod.rs
  src/map/points.rs
  tests/__init__.py
  tests/__snapshots__/test_map.ambr
  tests/commands/json/map/test_cached_map_info.py
  tests/messages/json/map/test_cached_map_info.py
  tests/test_map.py
Due: mypy, pylint

Fixed Rust formatting
  src/map/mod.rs
Due: none

Inline Rust functions
  src/map/background_image.rs
  src/map/points.rs
Due: none

Replace calculation functions with closures
  src/map/background_image.rs
Due: none

Path conditions:
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: ^tests/.+
