Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  skip:
    # This steps run in the ci workflow. Keep in sync
    - mypy
    - pylint
    - verifyNoGetLogger

default_language_version:
  python: python3.13

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --unsafe-fixes
      - id: ruff-format
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args:
          - --py312-plus
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=deebot
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
          - --exclude-file=deebot_client/util/continents.py
        exclude_types:
          - csv
          - json
        exclude: ^uv.lock$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: [--branch, main, --branch, dev]
      - id: requirements-txt-fixer
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.2.4
          - prettier-plugin-sort-json@3.1.0
        exclude_types:
          - python
        exclude: ^uv.lock$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: Check with mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types:
          - python
        require_serial: true
      - id: pylint
        name: Check with pylint
        entry: scripts/run-in-env.sh pylint
        language: script
        types:
          - python
        require_serial: true
        exclude: ^tests/.+
      - id: verifyNoGetLogger
        name: Verify no getLogger usages
        entry: scripts/check_getLogger.sh
        language: script
        require_serial: true

Create 2px96q.py
  deebot_client/hardware/deebot/2px96q.py
Due: mypy, pylint

Delete deebot_client/hardware/deebot/2px96q.py
  deebot_client/hardware/deebot/2px96q.py
Due: mypy, pylint

Create 2px9q.py
  deebot_client/hardware/deebot/2px9q.py
Due: mypy, pylint

Rename 2px9q.py to 2px96q.py
  deebot_client/hardware/deebot/2px96q.py
  deebot_client/hardware/deebot/2px9q.py
Due: mypy, pylint

fix ruff issue
  tests/hardware/test_init.py
Due: mypy

fix symbolic link
  deebot_client/hardware/deebot/2px96q.py
Due: mypy, pylint

Update prettier to 3.5.3
  .pre-commit-config.yaml
Due: none

Set workflow read permissions
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release-drafter.yml
Due: none

Add OSSF Scorecard
  .github/workflows/scorecard.yml
Due: none

Fix
  .github/workflows/scorecard.yml
  .yamllint
Due: none

[StepSecurity] ci: Harden GitHub Actions
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release-drafter.yml
  .github/workflows/scorecard.yml
Due: none

[StepSecurity] Apply security best practices
  .pre-commit-config.yaml
Due: none

Add support for GOAT O500 Panorama
  deebot_client/hardware/deebot/300lc5.py
Due: mypy, pylint

add Goat 0500 Panorama
  deebot_client/hardware/deebot/300lc5.py
Due: mypy, pylint

Update also Cargo.toml
  Cargo.toml
Due: none

Update release drafter
  .github/release-drafter.yml
Due: none

add workflow dispatch
  .github/workflows/release-drafter.yml
Due: none

Fix OnChangedDict behaviour with recent python versions
  deebot_client/util/__init__.py
  tests/util/test_init.py
Due: mypy, pylint

Refactor test
  tests/util/test_init.py
Due: mypy

Add legacy GetNetInfo JSON command
  deebot_client/commands/json/__init__.py
  deebot_client/commands/json/network.py
  deebot_client/message.py
  tests/commands/json/test_network.py
Due: mypy, pylint

Capabilities should not depend on JSON commands
  deebot_client/capabilities.py
Due: mypy, pylint

Checkout sh file as lf-terminated
  .gitattributes
Due: none

Add support for XML Messages
  deebot_client/messages/__init__.py
  deebot_client/messages/xml/__init__.py
  deebot_client/messages/xml/common.py
  tests/messages/__init__.py
  tests/messages/xml/__init__.py
  tests/messages/xml/test_common.py
Due: mypy, pylint

Exclude impossible branch from coverage check
  deebot_client/messages/__init__.py
Due: mypy, pylint

Make volume capability optional.
  deebot_client/capabilities.py
Due: mypy, pylint

Make Multimap support optional.
  deebot_client/capabilities.py
Due: mypy, pylint

Make map relocation capability optional.
  deebot_client/capabilities.py
Due: mypy, pylint

Make water amount in WaterInfoEvent optional.
  deebot_client/events/water_info.py
  tests/events/test_events.py
Due: mypy, pylint

Add XML Battery commands
  deebot_client/commands/xml/__init__.py
  deebot_client/commands/xml/battery.py
  tests/commands/xml/test_battery.py
Due: mypy, pylint

Apply suggestions from code review
  deebot_client/events/fan_speed.py
  deebot_client/util/enum.py
  tests/events/test_fan_speed.py
Due: mypy, pylint

Add classes to convert standard enums into XML values
  deebot_client/events/__init__.py
  deebot_client/events/fan_speed.py
  deebot_client/models.py
  deebot_client/util/enum.py
  tests/events/test_events.py
  tests/events/test_fan_speed.py
  tests/test_models.py
  tests/util/test_enum.py
Due: mypy, pylint

Refactor tests for more coverage
  tests/util/test_enum.py
Due: mypy

Add support for XML BatteryInfo messages
  deebot_client/messages/xml/__init__.py
  deebot_client/messages/xml/battery.py
  tests/messages/xml/test_battery.py
Due: mypy, pylint

Integrate PR feedback
  deebot_client/messages/__init__.py
  tests/messages/__init__.py
  tests/messages/xml/test_battery.py
  tests/messages/xml/test_common.py
Due: mypy, pylint

Cleanup test cases
  tests/util/test_enum.py
Due: mypy

Code cleanup
  deebot_client/commands/xml/clean_logs.py
Due: mypy, pylint

Integrate PR feedback
  deebot_client/commands/xml/clean_logs.py
  tests/commands/xml/test_enum.py
Due: mypy, pylint

Add more tests
  tests/commands/xml/test_clean_logs.py
Due: mypy
