Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: Check with mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: Check with pylint
  entry: scripts/run-in-env.sh pylint
  language: script
  require_serial: true

Update capabilities
  deebot_client/capabilities.py
  deebot_client/event_bus.py
  deebot_client/events/__init__.py
  deebot_client/hardware/__init__.py
  deebot_client/hardware/deebot.py
  deebot_client/hardware/deebot/__init__.py
  deebot_client/hardware/deebot/fallback.py
  deebot_client/hardware/deebot/vi829v.py
  deebot_client/hardware/deebot/yna5x1.py
  deebot_client/hardware/device_capabilities.py
  deebot_client/hardware/exceptions.py
  deebot_client/util.py
  deebot_client/vacuum_bot.py
  tests/conftest.py
  tests/hardware/__init__.py
  tests/hardware/test_deebot.py
  tests/hardware/test_device_capabilities.py
  tests/hardware/test_init.py
  tests/helpers.py
  tests/test_event_bus.py
  tests/test_vacuum_bot.py
Due: mypy, pylint

Remove not required checks
  deebot_client/hardware/deebot/__init__.py
Due: mypy, pylint

Move capabilities to DeviceInfo
  deebot_client/models.py
  deebot_client/vacuum_bot.py
  tests/conftest.py
  tests/test_vacuum_bot.py
Due: mypy, pylint

Add StaticDeviceInfo for DataType
  deebot_client/api_client.py
  deebot_client/hardware/__init__.py
  deebot_client/hardware/deebot/__init__.py
  deebot_client/hardware/deebot/fallback.py
  deebot_client/hardware/deebot/yna5x1.py
  deebot_client/models.py
  tests/commands/json/__init__.py
  tests/conftest.py
  tests/hardware/test_init.py
  tests/helpers.py
  tests/test_vacuum_bot.py
Due: mypy, pylint

Expose capabilities
  deebot_client/vacuum_bot.py
Due: mypy, pylint

Fix rebase leftovers
  deebot_client/capabilities.py
  tests/commands/json/__init__.py
  tests/conftest.py
Due: mypy, pylint

Make CapabilityEvent generic
  deebot_client/capabilities.py
  deebot_client/hardware/deebot/fallback.py
  deebot_client/hardware/deebot/yna5x1.py
Due: mypy, pylint

Add types for fan_speed and water
  deebot_client/capabilities.py
  deebot_client/events/__init__.py
  deebot_client/hardware/deebot/fallback.py
  deebot_client/hardware/deebot/yna5x1.py
Due: mypy, pylint

Add ruff
  .pre-commit-config.yaml
  deebot_client/authentication.py
  deebot_client/command.py
  deebot_client/commands/json/clean.py
  deebot_client/mqtt_client.py
  deebot_client/vacuum_bot.py
  pyproject.toml
  setup.py
  tests/fixtures/base.py
  tests/hardware/__init__.py
Due: mypy, pylint

restore bandit
  .pre-commit-config.yaml
Due: none

remove config for flake8 and isort
  setup.cfg
Due: none

move
  .pre-commit-config.yaml
Due: none

move again
  .pre-commit-config.yaml
Due: none

to early in the morning
  .pre-commit-config.yaml
Due: none

Add ruff (#325)
  .pre-commit-config.yaml
  deebot_client/authentication.py
  deebot_client/command.py
  deebot_client/commands/json/clean.py
  deebot_client/mqtt_client.py
  deebot_client/vacuum_bot.py
  pyproject.toml
  setup.cfg
  setup.py
  tests/fixtures/base.py
  tests/hardware/__init__.py
Due: mypy, pylint

Remove bandit
  .pre-commit-config.yaml
  bandit.yaml
  deebot_client/authentication.py
  deebot_client/util.py
  pyproject.toml
Due: mypy, pylint

Remove bandit (#326)
  .pre-commit-config.yaml
  bandit.yaml
  deebot_client/authentication.py
  deebot_client/util.py
  pyproject.toml
Due: mypy, pylint

Fix imports
  deebot_client/authentication.py
  deebot_client/command.py
  deebot_client/commands/__init__.py
  deebot_client/event_bus.py
  deebot_client/map.py
  deebot_client/message.py
  deebot_client/models.py
  deebot_client/mqtt_client.py
  deebot_client/util.py
  deebot_client/vacuum_bot.py
  pyproject.toml
  tests/commands/json/test_common.py
  tests/conftest.py
  tests/fixtures/base.py
  tests/test_event_bus.py
  tests/test_mqtt_client.py
  tests/test_vacuum_bot.py
Due: mypy, pylint

Fix imports (#327)
  deebot_client/authentication.py
  deebot_client/command.py
  deebot_client/commands/__init__.py
  deebot_client/event_bus.py
  deebot_client/map.py
  deebot_client/message.py
  deebot_client/models.py
  deebot_client/mqtt_client.py
  deebot_client/util.py
  deebot_client/vacuum_bot.py
  pyproject.toml
  tests/commands/json/test_common.py
  tests/conftest.py
  tests/fixtures/base.py
  tests/test_event_bus.py
  tests/test_mqtt_client.py
  tests/test_vacuum_bot.py
Due: mypy, pylint

Activate ruff rule pep8-naming
  pyproject.toml
  tests/fixtures/base.py
Due: mypy

Add ruff rule PIE
  deebot_client/command.py
  pyproject.toml
  tests/fixtures/base.py
Due: mypy, pylint

Add ruff rule PYI
  deebot_client/util.py
  pyproject.toml
  tests/fixtures/base.py
Due: mypy, pylint

Add ruff rule PT
  pyproject.toml
  tests/commands/json/test_charge.py
  tests/commands/json/test_charge_state.py
  tests/commands/json/test_clean.py
  tests/commands/json/test_common.py
  tests/commands/json/test_custom.py
  tests/commands/json/test_life_span.py
  tests/commands/json/test_water_info.py
  tests/conftest.py
  tests/hardware/test_init.py
  tests/messages/json/test_stats.py
  tests/messages/test_get_messages.py
  tests/test_command.py
  tests/test_event_bus.py
  tests/test_map.py
  tests/test_mqtt_client.py
Due: mypy

Add ruff rule RET
  pyproject.toml
  tests/conftest.py
Due: mypy

Add ruff rule SIM
  deebot_client/commands/json/charge_state.py
  pyproject.toml
Due: mypy, pylint

Add ruff rule TID
  deebot_client/events/__init__.py
  deebot_client/events/fan_speed.py
  deebot_client/events/map.py
  deebot_client/events/water_info.py
  deebot_client/messages/__init__.py
  pyproject.toml
Due: mypy, pylint

Activated some ruff rules
  pyproject.toml
Due: none

Activate some ruff rules (#328)
  deebot_client/command.py
  deebot_client/commands/json/charge_state.py
  deebot_client/events/__init__.py
  deebot_client/events/fan_speed.py
  deebot_client/events/map.py
  deebot_client/events/water_info.py
  deebot_client/messages/__init__.py
  deebot_client/util.py
  pyproject.toml
  tests/commands/json/test_charge.py
  tests/commands/json/test_charge_state.py
  tests/commands/json/test_clean.py
  tests/commands/json/test_common.py
  tests/commands/json/test_custom.py
  tests/commands/json/test_life_span.py
  tests/commands/json/test_water_info.py
  tests/conftest.py
  tests/fixtures/base.py
  tests/hardware/test_init.py
  tests/messages/json/test_stats.py
  tests/messages/test_get_messages.py
  tests/test_command.py
  tests/test_event_bus.py
  tests/test_map.py
  tests/test_mqtt_client.py
Due: mypy, pylint

Add missing capabilities
  deebot_client/capabilities.py
  deebot_client/hardware/deebot/fallback.py
  deebot_client/hardware/deebot/yna5x1.py
Due: mypy, pylint

HA reports values as strings...
  deebot_client/capabilities.py
  deebot_client/commands/json/fan_speed.py
  deebot_client/commands/json/water_info.py
Due: mypy, pylint

Move CleanAction and CleanMode to models
  deebot_client/capabilities.py
  deebot_client/commands/json/clean.py
  deebot_client/models.py
Due: mypy, pylint

Fix clean area capability
  deebot_client/capabilities.py
Due: mypy, pylint

typo
  deebot_client/hardware/deebot/yna5xi.py
Due: mypy, pylint

Log warning when no caps are found
  deebot_client/hardware/deebot/__init__.py
Due: mypy, pylint

fix symbolic link
  deebot_client/hardware/deebot/vi829v.py
Due: mypy, pylint

Fix tests
  tests/hardware/test_init.py
Due: mypy

add tests for str command values
  tests/commands/json/test_fan_speed.py
  tests/commands/json/test_water_info.py
Due: mypy

Update capabilities (#321)
  deebot_client/api_client.py
  deebot_client/capabilities.py
  deebot_client/commands/json/clean.py
  deebot_client/commands/json/fan_speed.py
  deebot_client/commands/json/water_info.py
  deebot_client/event_bus.py
  deebot_client/events/__init__.py
  deebot_client/hardware/__init__.py
  deebot_client/hardware/deebot.py
  deebot_client/hardware/deebot/__init__.py
  deebot_client/hardware/deebot/fallback.py
  deebot_client/hardware/deebot/vi829v.py
  deebot_client/hardware/deebot/yna5xi.py
  deebot_client/hardware/device_capabilities.py
  deebot_client/hardware/exceptions.py
  deebot_client/models.py
  deebot_client/util.py
  deebot_client/vacuum_bot.py
  tests/commands/json/__init__.py
  tests/commands/json/test_fan_speed.py
  tests/commands/json/test_water_info.py
  tests/conftest.py
  tests/hardware/__init__.py
  tests/hardware/test_deebot.py
  tests/hardware/test_device_capabilities.py
  tests/hardware/test_init.py
  tests/helpers.py
  tests/test_event_bus.py
  tests/test_vacuum_bot.py
Due: mypy, pylint

remove todo
  deebot_client/commands/json/advanced_mode.py
  deebot_client/commands/json/carpet.py
  deebot_client/commands/json/clean.py
  deebot_client/commands/json/clean_count.py
  deebot_client/commands/json/clean_preference.py
  deebot_client/commands/json/map.py
  deebot_client/commands/xml/clean.py
Due: mypy, pylint

remove unrequired code
  deebot_client/command.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: ^tests/.+
