Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: Check with mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: Check with pylint
  entry: scripts/run-in-env.sh pylint
  language: script
  require_serial: true

fix
  .github/workflows/ci.yml
Due: none

Revert conditional
  .github/workflows/ci.yml
Due: none

Run cargo tests in CI (#798)
  .github/workflows/ci.yml
  ci/entrypoint.sh
  pyproject.toml
Due: none

Execute tests for all python versions
  .github/workflows/ci.yml
Due: none

Generate all needed requirements file in info job
  .github/workflows/ci.yml
Due: none

Add python version to cache
  .github/workflows/ci.yml
Due: none

Fix docker builds
  ci/Dockerfile.alpine
Due: none

Execute tests for all python versions (#799)
  .github/workflows/ci.yml
  ci/Dockerfile.alpine
Due: none

Goodbye Python 3.12 (#773)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

Create more alpine wheels
  .github/workflows/ci.yml
Due: none

fix os
  .github/workflows/ci.yml
Due: none

Add armv7
  .github/workflows/ci.yml
Due: none

Fix
  .github/workflows/ci.yml
  ci/Dockerfile.alpine
Due: none

for faster ci for testing
  .github/workflows/ci.yml
Due: none

Fix docker image
  ci/Dockerfile.alpine
Due: none

Install gcc
  ci/Dockerfile.alpine
Due: none

Add homeassistant index
  ci/Dockerfile.alpine
Due: none

Next try
  ci/Dockerfile.alpine
Due: none

Armv7 on qemu is to slow
  tests/test_map.py
Due: mypy

No need for gcc
  ci/Dockerfile.alpine
Due: none

Add more targets
  .github/workflows/ci.yml
Due: none

try
  .github/workflows/ci.yml
Due: none

Remove armv6 for now
  .github/workflows/ci.yml
Due: none

test
  .github/workflows/ci.yml
Due: none

Use arm host for armv7
  .github/workflows/ci.yml
Due: none

Create more musllinux wheels (#800)
  .github/workflows/ci.yml
  ci/Dockerfile.alpine
  tests/test_map.py
Due: mypy

Add cache to wheels build jobs
  .github/workflows/ci.yml
Due: none

Add cache to musl jobs too
  .github/workflows/ci.yml
Due: none

Move map trace points completely to rust
  deebot_client/map.py
  deebot_client/rs/map.pyi
  src/map.rs
Due: mypy, pylint

Move PositionType to rust
  deebot_client/commands/json/pos.py
  deebot_client/commands/xml/pos.py
  deebot_client/device.py
  deebot_client/events/__init__.py
  deebot_client/events/map.py
  deebot_client/rs/map.pyi
  src/map.rs
  tests/commands/json/test_pos.py
  tests/commands/xml/test_pos.py
  tests/test_map.py
Due: mypy, pylint

Don't export type in the events
  deebot_client/events/__init__.py
Due: mypy, pylint

Add tests and remove unused function
  src/map.rs
Due: none

Move map trace points and PositionType to rust (#802)
  deebot_client/commands/json/pos.py
  deebot_client/commands/xml/pos.py
  deebot_client/device.py
  deebot_client/events/__init__.py
  deebot_client/events/map.py
  deebot_client/map.py
  deebot_client/rs/map.pyi
  src/map.rs
  tests/commands/json/test_pos.py
  tests/commands/xml/test_pos.py
  tests/test_map.py
Due: mypy, pylint

Add support for Deebot T30S Care (63cum9)
  deebot_client/hardware/deebot/63cum9.py
Due: mypy, pylint

Improve decompress_7z_base64_data test coverage
  tests/rs/test_util.py
Due: mypy

Return error instead of default for get_color
  src/map.rs
Due: none

Add additional tests
  src/map.rs
Due: none

Update codcov
  .codecov.yml
Due: none

Improve points_to_svg_path
  src/map.rs
Due: none

Remove if statement as it is always true
  src/map.rs
Due: none

Path conditions:
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: ^tests/.+
