Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  skip:
    # This steps run in the ci workflow. Keep in sync
    - mypy
    - pylint
    - verifyNoGetLogger

default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.6
    hooks:
      - id: ruff
        args:
          - --fix
          # - --unsafe-fixes
      - id: ruff-format
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args:
          - --py311-plus
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,deebot
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types:
          - csv
          - json
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: [--branch, main, --branch, dev]
      - id: requirements-txt-fixer
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.1.0
          - prettier-plugin-sort-json@3.1.0
        exclude_types:
          - python
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.33.0
    hooks:
      - id: yamllint
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: Check with mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types:
          - python
        require_serial: true
      - id: pylint
        name: Check with pylint
        entry: scripts/run-in-env.sh pylint
        language: script
        types:
          - python
        require_serial: true
        exclude: ^tests/.+
      - id: verifyNoGetLogger
        name: Verify no getLogger usages
        entry: scripts/check_getLogger.sh
        language: script
        require_serial: true

handle plain and compressed coords
  deebot_client/map.py
Due: mypy, pylint

Convert total stats time from seconds to minutes
  deebot_client/commands/json/stats.py
  tests/commands/json/test_stats.py
Due: mypy, pylint

Refactor map subscription
  deebot_client/event_bus.py
  deebot_client/map.py
  tests/common.py
  tests/conftest.py
  tests/test_map.py
Due: mypy, pylint

Convert total stats time from seconds to minutes (#398)
  deebot_client/commands/json/stats.py
  tests/commands/json/test_stats.py
Due: mypy, pylint

Update ruff
  .pre-commit-config.yaml
Due: none

Fix
  deebot_client/event_bus.py
Due: mypy, pylint

Update ruff (#400)
  .pre-commit-config.yaml
Due: none

Refactor map subscription (#399)
  deebot_client/event_bus.py
  deebot_client/map.py
  tests/common.py
  tests/conftest.py
  tests/test_map.py
Due: mypy, pylint

Revert "Convert total stats time from seconds to minutes"
  deebot_client/commands/json/stats.py
  tests/commands/json/test_stats.py
Due: mypy, pylint

Revert "Convert total stats time from seconds to minutes" (#401)
  deebot_client/commands/json/stats.py
  tests/commands/json/test_stats.py
Due: mypy, pylint

Add support for overriding urls
  deebot_client/authentication.py
  deebot_client/const.py
  deebot_client/models.py
  deebot_client/mqtt_client.py
  deebot_client/util/continents.py
  tests/conftest.py
  tests/test_models.py
  tests/test_mqtt_client.py
  tests/test_mqtt_client_reconnect.py
Due: mypy, pylint

Split configuration into own module
  README.md
  deebot_client/authentication.py
  deebot_client/configuration.py
  deebot_client/models.py
  deebot_client/mqtt_client.py
  tests/conftest.py
  tests/test_authentication.py
  tests/test_configuration.py
  tests/test_mqtt_client.py
  tests/test_mqtt_client_reconnect.py
Due: mypy, pylint

Add rest tests
  deebot_client/configuration.py
  tests/test_configuration.py
Due: mypy, pylint

Add support for overriding urls and refactor configuration (#403)
  README.md
  deebot_client/authentication.py
  deebot_client/configuration.py
  deebot_client/const.py
  deebot_client/models.py
  deebot_client/mqtt_client.py
  deebot_client/util/continents.py
  tests/conftest.py
  tests/test_authentication.py
  tests/test_configuration.py
  tests/test_mqtt_client.py
  tests/test_mqtt_client_reconnect.py
Due: mypy, pylint

Update no capabilities log entry
  deebot_client/hardware/deebot/__init__.py
Due: mypy, pylint

Update no capabilities log entry (#404)
  deebot_client/hardware/deebot/__init__.py
Due: mypy, pylint

Create 55aiho.py
  deebot_client/hardware/deebot/55aiho.py
Due: mypy, pylint

Make sure country is uppercase
  deebot_client/configuration.py
  deebot_client/util/continents.py
Due: mypy, pylint

Make sure country is uppercase (#406)
  deebot_client/configuration.py
  deebot_client/util/continents.py
Due: mypy, pylint

Add note for Windows users
  README.md
Due: none

Add a note for Windows users (#407)
  README.md
Due: none

Add python 3.12
  .github/workflows/ci.yml
  .github/workflows/python-publish.yml
  .pre-commit-config.yaml
Due: none

Add python 3.12 (#408)
  .github/workflows/ci.yml
  .github/workflows/python-publish.yml
  .pre-commit-config.yaml
Due: none

Split config
  deebot_client/authentication.py
  deebot_client/configuration.py
  deebot_client/mqtt_client.py
  pyproject.toml
  tests/conftest.py
  tests/test_authentication.py
  tests/test_configuration.py
  tests/test_mqtt_client.py
  tests/test_mqtt_client_reconnect.py
Due: mypy, pylint

Split config and add posibility to disable mqtt ssl context validation (#409)
  deebot_client/authentication.py
  deebot_client/configuration.py
  deebot_client/mqtt_client.py
  pyproject.toml
  tests/conftest.py
  tests/test_authentication.py
  tests/test_configuration.py
  tests/test_mqtt_client.py
  tests/test_mqtt_client_reconnect.py
Due: mypy, pylint

Add verfication for mqtt config
  deebot_client/exceptions.py
  deebot_client/mqtt_client.py
  tests/test_mqtt_client.py
Due: mypy, pylint

Add verfication for mqtt config (#410)
  deebot_client/exceptions.py
  deebot_client/mqtt_client.py
  tests/test_mqtt_client.py
Due: mypy, pylint

Rename mqtt config + arguments
  README.md
  deebot_client/authentication.py
  deebot_client/const.py
  deebot_client/mqtt_client.py
  tests/conftest.py
  tests/test_authentication.py
  tests/test_mqtt_client.py
Due: mypy, pylint

Rename mqtt config + arguments (#413)
  README.md
  deebot_client/authentication.py
  deebot_client/const.py
  deebot_client/mqtt_client.py
  tests/conftest.py
  tests/test_authentication.py
  tests/test_mqtt_client.py
Due: mypy, pylint

Fix symlink
  deebot_client/hardware/deebot/55aiho.py
Due: mypy, pylint

Fix tests
  tests/hardware/test_init.py
Due: mypy

Add support for Deebot OZMO T8+ (#405)
  deebot_client/hardware/deebot/55aiho.py
  tests/hardware/test_init.py
Due: mypy, pylint

Correct 'SetSweepMode' command
  deebot_client/commands/json/sweep_mode.py
Due: mypy, pylint

Add test for 'SweepMode'
  tests/commands/json/test_sweep_mode.py
Due: mypy

Fix W0622: Redefining built-in 'type' (redefined-builtin)
  deebot_client/commands/json/sweep_mode.py
Due: mypy, pylint

Use EnableCommand classes
  deebot_client/commands/json/common.py
  deebot_client/commands/json/sweep_mode.py
  deebot_client/events/__init__.py
  tests/commands/json/__init__.py
  tests/commands/json/test_sweep_mode.py
Due: mypy, pylint

Add 'Mop-Only' commands and event (#388)
  deebot_client/capabilities.py
  deebot_client/commands/json/__init__.py
  deebot_client/commands/json/common.py
  deebot_client/commands/json/sweep_mode.py
  deebot_client/events/__init__.py
  deebot_client/hardware/deebot/2o4lnm.py
  tests/commands/json/__init__.py
  tests/commands/json/test_sweep_mode.py
Due: mypy, pylint
