Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  skip:
    # This steps run in the ci workflow. Keep in sync
    - mypy
    - pylint
    - verifyNoGetLogger

default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=deebot
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
          - --exclude-file=deebot_client/util/continents.py
        exclude_types:
          - csv
          - json
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: no-commit-to-branch
        args: [--branch, main, --branch, dev]
      - id: requirements-txt-fixer
      - id: check-executables-have-shebangs
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.2.4
          - prettier-plugin-sort-json@3.1.0
        exclude_types:
          - python
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint

  # PYTHON ---------------------------------------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.2
    hooks:
      - id: ruff
        args:
          - --fix
          # - --unsafe-fixes
      - id: ruff-format
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.1
    hooks:
      - id: pyupgrade
        args:
          - --py311-plus
          # - --py312-plus
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: Check with mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types:
          - python
        require_serial: true
      - id: pylint
        name: Check with pylint
        entry: scripts/run-in-env.sh pylint
        language: script
        types:
          - python
        require_serial: true
        exclude: ^tests/.+
      - id: verifyNoGetLogger
        name: Verify no getLogger usages
        entry: scripts/check_getLogger.sh
        language: script
        require_serial: true

Update test_init.py
  tests/hardware/test_init.py
Due: mypy

Update py3qif.py
  deebot_client/hardware/deebot/py3qif.py
Due: mypy, pylint

Add DEEBOT T10 TURBO (#489)
  deebot_client/hardware/deebot/9s1s80.py
  tests/hardware/test_init.py
Due: mypy, pylint

Fix getError
  deebot_client/commands/json/error.py
  tests/commands/json/test_error.py
Due: mypy, pylint

Fix getError (#505)
  deebot_client/commands/json/error.py
  tests/commands/json/test_error.py
Due: mypy, pylint

Update test_life_span.py with 4 more entities
  tests/commands/json/test_life_span.py
Due: mypy

gx-600 added (2ap5uq)
  deebot_client/hardware/deebot/2ap5uq.py
  tests/hardware/test_init.py
Due: mypy, pylint

Pin temporarily requests to fix docker issue
  requirements-test.txt
Due: none

Pin temporarily requests to fix docker issue (#508)
  requirements-test.txt
Due: none

Add 4 more Lifespan entities (#494)
  deebot_client/events/__init__.py
  tests/commands/json/test_life_span.py
Due: mypy, pylint

GOAT GX-600 support added (#506)
  deebot_client/hardware/deebot/2ap5uq.py
  tests/hardware/test_init.py
Due: mypy, pylint

Update water_info.py for implementing sweeping types
  deebot_client/events/water_info.py
Due: mypy, pylint

Update in commands water_info.py for implementing Sweep Types
  deebot_client/commands/json/water_info.py
Due: mypy, pylint

Update deebot_client/events/water_info.py
  deebot_client/events/water_info.py
Due: mypy, pylint

Update deebot_client/commands/json/water_info.py
  deebot_client/commands/json/water_info.py
Due: mypy, pylint

Update test_water_info.py with Sweep Type Tests
  tests/commands/json/test_water_info.py
Due: mypy

fix: requirements-test.txt to reduce vulnerabilities
  requirements-test.txt
Due: none

Update test_water_info.py changed SweepTypes Test to uppercase letters
  tests/commands/json/test_water_info.py
Due: mypy

Update __init__.py as suggested from coderabbitai
  deebot_client/events/__init__.py
Due: mypy, pylint

Update deebot_client/events/__init__.py
  deebot_client/events/__init__.py
Due: mypy, pylint

Update test_water_info.py with import of SweepType and renaming test
  tests/commands/json/test_water_info.py
Due: mypy

Update events __init__.py with missing entry
  deebot_client/events/__init__.py
Due: mypy, pylint

Update test_water_info.py clarifying testroutines as noted by coderabbitai
  tests/commands/json/test_water_info.py
Due: mypy

Update water_info.py add import event SweepType
  deebot_client/commands/json/water_info.py
Due: mypy, pylint

Update __init__.py import module water_info with three elements
  deebot_client/events/__init__.py
Due: mypy, pylint

Update water_info.py
  deebot_client/commands/json/water_info.py
Due: mypy, pylint

Update water_info.py as coderabbitai suggested
  deebot_client/commands/json/water_info.py
Due: mypy, pylint
