Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  skip:
    # This steps run in the ci workflow. Keep in sync
    - mypy
    - pylint
    - verifyNoGetLogger

default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=deebot
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
          - --exclude-file=deebot_client/util/continents.py
        exclude_types:
          - csv
          - json
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: no-commit-to-branch
        args: [--branch, main, --branch, dev]
      - id: requirements-txt-fixer
      - id: check-executables-have-shebangs
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.2.4
          - prettier-plugin-sort-json@3.1.0
        exclude_types:
          - python
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint

  # PYTHON ---------------------------------------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.2
    hooks:
      - id: ruff
        args:
          - --fix
          # - --unsafe-fixes
      - id: ruff-format
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.1
    hooks:
      - id: pyupgrade
        args:
          - --py311-plus
          # - --py312-plus
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: Check with mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types:
          - python
        require_serial: true
      - id: pylint
        name: Check with pylint
        entry: scripts/run-in-env.sh pylint
        language: script
        types:
          - python
        require_serial: true
        exclude: ^tests/.+
      - id: verifyNoGetLogger
        name: Verify no getLogger usages
        entry: scripts/check_getLogger.sh
        language: script
        require_serial: true

Require Python 3.12
  .devcontainer.json
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  mypy.ini
  pyproject.toml
  tests/commands/json/test_charge.py
Due: mypy

Require Python 3.12 (#454)
  .devcontainer.json
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  mypy.ini
  pyproject.toml
  tests/commands/json/test_charge.py
Due: mypy

Fix tests
  tests/hardware/test_init.py
Due: mypy

Add support for DEEBOT T20 PRO PLUS (#450)
  deebot_client/hardware/deebot/paeygf.py
  tests/hardware/test_init.py
Due: mypy, pylint

xml: Add GetChargeState command for ls1ok3
  deebot_client/commands/xml/__init__.py
  deebot_client/commands/xml/charge_state.py
  tests/commands/xml/test_charge_state.py
Due: mypy, pylint

Fix ruff issues
  deebot_client/commands/xml/charge_state.py
Due: mypy, pylint

Fix
  deebot_client/commands/xml/charge_state.py
  tests/commands/xml/test_charge_state.py
Due: mypy, pylint

Add missing tests
  tests/commands/xml/test_charge_state.py
Due: mypy

Add xml commands "GetChargeState" (#451)
  deebot_client/commands/xml/__init__.py
  deebot_client/commands/xml/charge_state.py
  tests/commands/xml/test_charge_state.py
Due: mypy, pylint

Readme: adjust example to make it work
  README.md
Due: none

Add xml commands "GetPos"
  deebot_client/commands/xml/__init__.py
  deebot_client/commands/xml/pos.py
  tests/commands/xml/test_pos.py
Due: mypy, pylint

Readme: adjust example to make it work (#455)
  README.md
Due: none

Add xml command "GetPos" (#456)
  deebot_client/commands/xml/__init__.py
  deebot_client/commands/xml/pos.py
  tests/commands/xml/test_pos.py
Due: mypy, pylint

Add xml command "GetFanSpeed"
  deebot_client/commands/xml/__init__.py
  deebot_client/commands/xml/fan_speed.py
  deebot_client/events/fan_speed.py
  tests/commands/xml/test_fan_speed.py
Due: mypy, pylint

Add xml command "GetFanSpeed"
  deebot_client/commands/xml/__init__.py
  deebot_client/commands/xml/fan_speed.py
  tests/commands/xml/test_fan_speed.py
Due: mypy, pylint

Add xml command "GetFanSpeed" (#457)
  deebot_client/commands/xml/__init__.py
  deebot_client/commands/xml/fan_speed.py
  tests/commands/xml/test_fan_speed.py
Due: mypy, pylint

Add support for new Goat model
  deebot_client/hardware/deebot/itk04l.py
Due: mypy, pylint

Add test for new Goat model itk04l
  tests/hardware/test_init.py
Due: mypy

Fix test with nested f-strings Python 3.11
  tests/commands/json/test_charge.py
Due: mypy

New goat g1 variant itk04l (#465)
  deebot_client/hardware/deebot/itk04l.py
  tests/hardware/test_init.py
Due: mypy, pylint

Use IntEnum because of HA translations
  deebot_client/events/__init__.py
Due: mypy, pylint

Update pre-commit checks
  .pre-commit-config.yaml
Due: none

Update deebot_client/events/__init__.py
  deebot_client/events/__init__.py
Due: mypy, pylint

Fix test
  tests/commands/json/test_clean_log.py
Due: mypy

Update pre-commit checks (#468)
  .pre-commit-config.yaml
Due: none

Use IntEnum instead of DisplayNameIntEnum for CleanJobStatus (#467)
  deebot_client/events/__init__.py
  tests/commands/json/test_clean_log.py
Due: mypy, pylint

Remove DisplayNameIntEnum
  deebot_client/commands/json/efficiency.py
  deebot_client/commands/json/fan_speed.py
  deebot_client/commands/json/water_info.py
  deebot_client/commands/json/work_mode.py
  deebot_client/events/__init__.py
  deebot_client/events/efficiency_mode.py
  deebot_client/events/fan_speed.py
  deebot_client/events/water_info.py
  deebot_client/events/work_mode.py
  deebot_client/util/__init__.py
  tests/commands/json/test_efficiency.py
  tests/commands/json/test_fan_speed.py
  tests/commands/json/test_water_info.py
  tests/commands/json/test_work_mode.py
  tests/events/test_water_info.py
  tests/helpers/__init__.py
Due: mypy, pylint

Remove DisplayNameIntEnum (#469)
  deebot_client/commands/json/efficiency.py
  deebot_client/commands/json/fan_speed.py
  deebot_client/commands/json/water_info.py
  deebot_client/commands/json/work_mode.py
  deebot_client/events/__init__.py
  deebot_client/events/efficiency_mode.py
  deebot_client/events/fan_speed.py
  deebot_client/events/water_info.py
  deebot_client/events/work_mode.py
  deebot_client/util/__init__.py
  tests/commands/json/test_efficiency.py
  tests/commands/json/test_fan_speed.py
  tests/commands/json/test_water_info.py
  tests/commands/json/test_work_mode.py
  tests/events/test_water_info.py
  tests/helpers/__init__.py
Due: mypy, pylint

Create lf3bn4.py for support of X2 Omni
  deebot_client/hardware/deebot/lf3bn4.py
Due: mypy, pylint

Fix
  deebot_client/hardware/deebot/lf3bn4.py
  tests/hardware/test_init.py
Due: mypy, pylint

Add support for X2 Omni (#471)
  deebot_client/hardware/deebot/lf3bn4.py
  tests/hardware/test_init.py
Due: mypy, pylint

Add files via upload
  deebot_client/hardware/deebot/e6ofmn.py
  deebot_client/hardware/deebot/lf3bn4.py
Due: mypy, pylint

Fixed Tab Error in File e6ofmn.py
  deebot_client/hardware/deebot/e6ofmn.py
Due: mypy, pylint

Fix blocking call to import_module inside the event loop
  deebot_client/api_client.py
  deebot_client/hardware/deebot/__init__.py
  tests/conftest.py
  tests/hardware/test_init.py
Due: mypy, pylint

Fix blocking call to import_module inside the event loop (#473)
  deebot_client/api_client.py
  deebot_client/hardware/deebot/__init__.py
  tests/conftest.py
  tests/hardware/test_init.py
Due: mypy, pylint

Fix test
  tests/hardware/test_init.py
Due: mypy

Add support for X2 Omni (#472)
  deebot_client/hardware/deebot/e6ofmn.py
  deebot_client/hardware/deebot/lf3bn4.py
  tests/hardware/test_init.py
Due: mypy, pylint

Update e6ofmn.py with Map Generation Version2
  deebot_client/hardware/deebot/e6ofmn.py
Due: mypy, pylint

Added support for GOAT G1 800 (Grey)
  deebot_client/hardware/deebot/77atlz.py
Due: mypy, pylint
