Repository DeebotUniverse/client.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  autofix_prs: false
  skip:
    # This steps run in the ci workflow. Keep in sync
    - mypy
    - pylint
    - verifyNoGetLogger

default_language_version:
  python: python3.13

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args:
          - --fix
          - --unsafe-fixes
      - id: ruff-format
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args:
          - --py312-plus
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=deebot
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
          - --exclude-file=deebot_client/util/continents.py
        exclude_types:
          - csv
          - json
        exclude: ^uv.lock$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: [--branch, main, --branch, dev]
      - id: requirements-txt-fixer
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.2.4
          - prettier-plugin-sort-json@3.1.0
        exclude_types:
          - python
        exclude: ^uv.lock$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: Check with mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types:
          - python
        require_serial: true
      - id: pylint
        name: Check with pylint
        entry: scripts/run-in-env.sh pylint
        language: script
        types:
          - python
        require_serial: true
        exclude: ^tests/.+
      - id: verifyNoGetLogger
        name: Verify no getLogger usages
        entry: scripts/check_getLogger.sh
        language: script
        require_serial: true

n
  .github/workflows/ci.yml
Due: none

split
  .github/workflows/ci.yml
Due: none

fix
  pyproject.toml
  uv.lock
Due: none

docker tests
  .github/workflows/ci.yml
  pytest.ini
  tests/test_mqtt_client.py
  tests/test_mqtt_client_reconnect.py
Due: mypy

n
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: none

fix
  .github/workflows/ci.yml
Due: none

n
  tests/test_mqtt_client.py
Due: mypy

Add T30S Class eqmf84 (#783)
  deebot_client/hardware/deebot/eqmf84.py
Due: mypy, pylint

all
  .github/workflows/ci.yml
Due: none

Use correct python
  .github/workflows/ci.yml
Due: none

strip
  .github/workflows/ci.yml
Due: none

combine
  .github/workflows/ci.yml
Due: none

combine more
  .github/workflows/ci.yml
Due: none

png per platform
  tests/test_map.py
Due: mypy

Create info
  .github/workflows/ci.yml
Due: none

fixes
  .github/workflows/ci.yml
Due: none

Add coverage and benchmark
  .github/workflows/ci.yml
Due: none
